### jupyter notebook to adjust the data from onet to the Swiss labour market

author: Jan Jörg
date: 14.03.2024

###### onet soc to soc crosswalk: https://www.onetcenter.org/crosswalks.html
###### soc to isco08 crosswalk: https://www.bls.gov/soc/ISCO_SOC_Crosswalk.xls
###### ch isco 19: https://www.i14y.admin.ch/en/catalog/datasets/HCL_CH_ISCO_19_PROF_1_2/distributions

In [73]:
# imports
import pandas as pd
from db import get_database

In [74]:
onet_file =  "files/ONETSOC_SOC.xlsx"
sheet =  "ONETSOC_SOC"

onetsoc_soc = pd.read_excel(io=onet_file, sheet_name=sheet , skiprows=3, dtype=str)

# rename cols
onetsoc_soc = onetsoc_soc.rename(columns={'O*NET-SOC 2019 Code': 'onetsoc19'})
onetsoc_soc = onetsoc_soc.rename(columns={'2018 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['O*NET-SOC 2019 Title', '2018 SOC Title']

# Drop specified columns
onetsoc_soc = onetsoc_soc.drop(columns=cols_to_drop)
onetsoc_soc = onetsoc_soc.dropna()
print(onetsoc_soc.shape[0])

onetsoc_soc.head(2)

1016

    onetsoc19  2010soc
0  11-1011.00  11-1011
1  11-1011.03  11-1011

In [75]:
file_name =  "files/ISCO_SOC.xls"
sheet =  "ISCO_SOC"

isco_soc = pd.read_excel(io=file_name, sheet_name=sheet , skiprows=6, dtype=str)

# rename cols
isco_soc = isco_soc.rename(columns={'ISCO-08 Code': 'isco08'})
isco_soc = isco_soc.rename(columns={'2010 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['ISCO-08 Title EN', 'part', '2010 SOC Title', "Comment 8/17/11"]

# Drop specified columns
isco_soc = isco_soc.drop(columns=cols_to_drop)
isco_soc = isco_soc.dropna()
print(isco_soc.shape[0])

isco_soc.head(2)

1125

  isco08   2010soc
0   0110  55-1011
1   0110  55-1012

In [76]:
file_name =  "files/CH_ISCO_19.xlsx"
sheet =  "CH_ISCO_19"

ch_isco = pd.read_excel(io=file_name, sheet_name=sheet, skiprows=0, dtype=str)

# rename cols
ch_isco = ch_isco.rename(columns={'Berufsgattungen': 'isco08'})

# List of columns to drop
cols_to_drop = ['Berufshauptgruppen', 'Berufsgruppen', 'Berufsuntergruppen', "Berufsarten", "Code"]

# Drop specified columns
ch_isco = ch_isco.drop(columns=cols_to_drop)
ch_isco = ch_isco.dropna()
print(ch_isco.shape[0])

ch_isco.head(2)

582

  isco08                                    Name_de
3   0110       Offiziere in regulären Streitkräften
7   0210  Unteroffiziere in regulären Streitkräften

In [77]:
dbname = get_database()

collection_name = dbname["onet"]

data = collection_name.find()
onet = pd.DataFrame(list(data))
onet.head(2)

,_id,code,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [78]:
# import Source Frey / Osborne

fo =  pd.read_csv("files/FO.csv")

In [79]:
# Convert 'code' column to string
onet['code'] = onet['code'].astype(str)
fo["code"] = fo["code"].astype(str)

# Rename 'code' column to 'onetsoc19'
onet = onet.rename(columns={'code': 'onetsoc19'})
fo = fo.rename(columns={'code': '2010soc'})

print(onet.shape[0])

1016

In [80]:
onet.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [81]:
fo.head(2)

,Rank,Probability,Label,2010soc,Occupation
0,1,28.0,a,29-1125,Recreational TherapistsRecreational Therapists
1,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...

In [82]:
# crosswalk onet soc

joined = pd.merge(onet, onetsoc_soc, left_on='onetsoc19', right_on="onetsoc19", how='left')

joined = joined.dropna()

# print amount of cols
print(joined.shape[0])

851

In [83]:
# crosswalk soc

joined = pd.merge(joined, isco_soc, left_on='2010soc', right_on="2010soc", how='left')
fo_joined = pd.merge(fo, isco_soc, left_on='2010soc', right_on="2010soc", how='left')

# print amount of cols
print(joined.shape[0])

1065

In [84]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612

In [85]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08
0,1,28.0,a,29-1125,Recreational TherapistsRecreational Therapists,NaN
1,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127

In [86]:
# crosswalk isco08

joined = pd.merge(joined, ch_isco, left_on='isco08', right_on="isco08", how='left')
fo_joined = pd.merge(fo_joined, ch_isco, left_on='isco08', right_on="isco08", how='left')

# print amount of cols
print(joined.shape[0])

1065

In [87]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [88]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
0,1,28.0,a,29-1125,Recreational TherapistsRecreational Therapists,NaN,NaN
1,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"

In [89]:
joined = joined.dropna()
joined = joined.drop(columns=["_id"])
fo_joined = fo_joined.dropna()
print(joined.shape[0])
joined.head(2)

846

,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [90]:
fo_joined.head(5)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
1,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"
2,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7231,Kraftfahrzeugmechaniker und -schlosser
3,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7232,Flugmotorenmechaniker und -schlosser
4,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7233,Landmaschinen- und Industriemaschinenmechanike...
5,2,3.0,a,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7234,Fahrradmechaniker und verwandte Berufe

In [91]:
dbname = get_database()

collection_name = dbname["joined"]
fo_name = dbname["fo_joined"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(joined.to_dict("records"))
fo_name.insert_many(fo_joined.to_dict("records"))

InsertManyResult([ObjectId('663deefbdb2fdc9e602a1e09'), ObjectId('663deefbdb2fdc9e602a1e0a'), ObjectId('663deefbdb2fdc9e602a1e0b'), ObjectId('663deefbdb2fdc9e602a1e0c'), ObjectId('663deefbdb2fdc9e602a1e0d'), ObjectId('663deefbdb2fdc9e602a1e0e'), ObjectId('663deefbdb2fdc9e602a1e0f'), ObjectId('663deefbdb2fdc9e602a1e10'), ObjectId('663deefbdb2fdc9e602a1e11'), ObjectId('663deefbdb2fdc9e602a1e12'), ObjectId('663deefbdb2fdc9e602a1e13'), ObjectId('663deefbdb2fdc9e602a1e14'), ObjectId('663deefbdb2fdc9e602a1e15'), ObjectId('663deefbdb2fdc9e602a1e16'), ObjectId('663deefbdb2fdc9e602a1e17'), ObjectId('663deefbdb2fdc9e602a1e18'), ObjectId('663deefbdb2fdc9e602a1e19'), ObjectId('663deefbdb2fdc9e602a1e1a'), ObjectId('663deefbdb2fdc9e602a1e1b'), ObjectId('663deefbdb2fdc9e602a1e1c'), ObjectId('663deefbdb2fdc9e602a1e1d'), ObjectId('663deefbdb2fdc9e602a1e1e'), ObjectId('663deefbdb2fdc9e602a1e1f'), ObjectId('663deefbdb2fdc9e602a1e20'), ObjectId('663deefbdb2fdc9e602a1e21'), ObjectId('663deefbdb2fdc9e602a1e22'), ObjectId('663deefbdb2fdc9e602a1e23'), ObjectId('663deefbdb2fdc9e602a1e24'), ObjectId('663deefbdb2fdc9e602a1e25'), ObjectId('663deefbdb2fdc9e602a1e26'), ObjectId('663deefbdb2fdc9e602a1e27'), ObjectId('663deefbdb2fdc9e602a1e28'), ObjectId('663deefbdb2fdc9e602a1e29'), ObjectId('663deefbdb2fdc9e602a1e2a'), ObjectId('663deefbdb2fdc9e602a1e2b'), ObjectId('663deefbdb2fdc9e602a1e2c'), ObjectId('663deefbdb2fdc9e602a1e2d'), ObjectId('663deefbdb2fdc9e602a1e2e'), ObjectId('663deefbdb2fdc9e602a1e2f'), ObjectId('663deefbdb2fdc9e602a1e30'), ObjectId('663deefbdb2fdc9e602a1e31'), ObjectId('663deefbdb2fdc9e602a1e32'), ObjectId('663deefbdb2fdc9e602a1e33'), ObjectId('663deefbdb2fdc9e602a1e34'), ObjectId('663deefbdb2fdc9e602a1e35'), ObjectId('663deefbdb2fdc9e602a1e36'), ObjectId('663deefbdb2fdc9e602a1e37'), ObjectId('663deefbdb2fdc9e602a1e38'), ObjectId('663deefbdb2fdc9e602a1e39'), ObjectId('663deefbdb2fdc9e602a1e3a'), ObjectId('663deefbdb2fdc9e602a1e3b'), ObjectId('663deefbdb2fdc9e602a1e3c'), ObjectId('663deefbdb2fdc9e602a1e3d'), ObjectId('663deefbdb2fdc9e602a1e3e'), ObjectId('663deefbdb2fdc9e602a1e3f'), ObjectId('663deefbdb2fdc9e602a1e40'), ObjectId('663deefbdb2fdc9e602a1e41'), ObjectId('663deefbdb2fdc9e602a1e42'), ObjectId('663deefbdb2fdc9e602a1e43'), ObjectId('663deefbdb2fdc9e602a1e44'), ObjectId('663deefbdb2fdc9e602a1e45'), ObjectId('663deefbdb2fdc9e602a1e46'), ObjectId('663deefbdb2fdc9e602a1e47'), ObjectId('663deefbdb2fdc9e602a1e48'), ObjectId('663deefbdb2fdc9e602a1e49'), ObjectId('663deefbdb2fdc9e602a1e4a'), ObjectId('663deefbdb2fdc9e602a1e4b'), ObjectId('663deefbdb2fdc9e602a1e4c'), ObjectId('663deefbdb2fdc9e602a1e4d'), ObjectId('663deefbdb2fdc9e602a1e4e'), ObjectId('663deefbdb2fdc9e602a1e4f'), ObjectId('663deefbdb2fdc9e602a1e50'), ObjectId('663deefbdb2fdc9e602a1e51'), ObjectId('663deefbdb2fdc9e602a1e52'), ObjectId('663deefbdb2fdc9e602a1e53'), ObjectId('663deefbdb2fdc9e602a1e54'), ObjectId('663deefbdb2fdc9e602a1e55'), ObjectId('663deefbdb2fdc9e602a1e56'), ObjectId('663deefbdb2fdc9e602a1e57'), ObjectId('663deefbdb2fdc9e602a1e58'), ObjectId('663deefbdb2fdc9e602a1e59'), ObjectId('663deefbdb2fdc9e602a1e5a'), ObjectId('663deefbdb2fdc9e602a1e5b'), ObjectId('663deefbdb2fdc9e602a1e5c'), ObjectId('663deefbdb2fdc9e602a1e5d'), ObjectId('663deefbdb2fdc9e602a1e5e'), ObjectId('663deefbdb2fdc9e602a1e5f'), ObjectId('663deefbdb2fdc9e602a1e60'), ObjectId('663deefbdb2fdc9e602a1e61'), ObjectId('663deefbdb2fdc9e602a1e62'), ObjectId('663deefbdb2fdc9e602a1e63'), ObjectId('663deefbdb2fdc9e602a1e64'), ObjectId('663deefbdb2fdc9e602a1e65'), ObjectId('663deefbdb2fdc9e602a1e66'), ObjectId('663deefbdb2fdc9e602a1e67'), ObjectId('663deefbdb2fdc9e602a1e68'), ObjectId('663deefbdb2fdc9e602a1e69'), ObjectId('663deefbdb2fdc9e602a1e6a'), ObjectId('663deefbdb2fdc9e602a1e6b'), ObjectId('663deefbdb2fdc9e602a1e6c'), ObjectId('663deefbdb2fdc9e602a1e6d'), ObjectId('663deefbdb2fdc9e602a1e6e'), ObjectId('663deefbdb2fdc9e602a1e6f'), ObjectId('663deefbdb2fdc9e602a1e70'), ObjectId('663deefbdb2fdc9e602a1e71'), ObjectId('663deefbdb2fdc9e602a1e72'), ObjectId('663deefbdb2fdc9e602a1e73'), ObjectId('663deefbdb2fdc9e602a1e74'), ObjectId('663deefbdb2fdc9e602a1e75'), ObjectId('663deefbdb2fdc9e602a1e76'), ObjectId('663deefbdb2fdc9e602a1e77'), ObjectId('663deefbdb2fdc9e602a1e78'), ObjectId('663deefbdb2fdc9e602a1e79'), ObjectId('663deefbdb2fdc9e602a1e7a'), ObjectId('663deefbdb2fdc9e602a1e7b'), ObjectId('663deefbdb2fdc9e602a1e7c'), ObjectId('663deefbdb2fdc9e602a1e7d'), ObjectId('663deefbdb2fdc9e602a1e7e'), ObjectId('663deefbdb2fdc9e602a1e7f'), ObjectId('663deefbdb2fdc9e602a1e80'), ObjectId('663deefbdb2fdc9e602a1e81'), ObjectId('663deefbdb2fdc9e602a1e82'), ObjectId('663deefbdb2fdc9e602a1e83'), ObjectId('663deefbdb2fdc9e602a1e84'), ObjectId('663deefbdb2fdc9e602a1e85'), ObjectId('663deefbdb2fdc9e602a1e86'), ObjectId('663deefbdb2fdc9e602a1e87'), ObjectId('663deefbdb2fdc9e602a1e88'), ObjectId('663deefbdb2fdc9e602a1e89'), ObjectId('663deefbdb2fdc9e602a1e8a'), ObjectId('663deefbdb2fdc9e602a1e8b'), ObjectId('663deefbdb2fdc9e602a1e8c'), ObjectId('663deefbdb2fdc9e602a1e8d'), ObjectId('663deefbdb2fdc9e602a1e8e'), ObjectId('663deefbdb2fdc9e602a1e8f'), ObjectId('663deefbdb2fdc9e602a1e90'), ObjectId('663deefbdb2fdc9e602a1e91'), ObjectId('663deefbdb2fdc9e602a1e92'), ObjectId('663deefbdb2fdc9e602a1e93'), ObjectId('663deefbdb2fdc9e602a1e94'), ObjectId('663deefbdb2fdc9e602a1e95'), ObjectId('663deefbdb2fdc9e602a1e96'), ObjectId('663deefbdb2fdc9e602a1e97'), ObjectId('663deefbdb2fdc9e602a1e98'), ObjectId('663deefbdb2fdc9e602a1e99'), ObjectId('663deefbdb2fdc9e602a1e9a'), ObjectId('663deefbdb2fdc9e602a1e9b'), ObjectId('663deefbdb2fdc9e602a1e9c'), ObjectId('663deefbdb2fdc9e602a1e9d'), ObjectId('663deefbdb2fdc9e602a1e9e'), ObjectId('663deefbdb2fdc9e602a1e9f'), ObjectId('663deefbdb2fdc9e602a1ea0'), ObjectId('663deefbdb2fdc9e602a1ea1'), ObjectId('663deefbdb2fdc9e602a1ea2'), ObjectId('663deefbdb2fdc9e602a1ea3'), ObjectId('663deefbdb2fdc9e602a1ea4'), ObjectId('663deefbdb2fdc9e602a1ea5'), ObjectId('663deefbdb2fdc9e602a1ea6'), ObjectId('663deefbdb2fdc9e602a1ea7'), ObjectId('663deefbdb2fdc9e602a1ea8'), ObjectId('663deefbdb2fdc9e602a1ea9'), ObjectId('663deefbdb2fdc9e602a1eaa'), ObjectId('663deefbdb2fdc9e602a1eab'), ObjectId('663deefbdb2fdc9e602a1eac'), ObjectId('663deefbdb2fdc9e602a1ead'), ObjectId('663deefbdb2fdc9e602a1eae'), ObjectId('663deefbdb2fdc9e602a1eaf'), ObjectId('663deefbdb2fdc9e602a1eb0'), ObjectId('663deefbdb2fdc9e602a1eb1'), ObjectId('663deefbdb2fdc9e602a1eb2'), ObjectId('663deefbdb2fdc9e602a1eb3'), ObjectId('663deefbdb2fdc9e602a1eb4'), ObjectId('663deefbdb2fdc9e602a1eb5'), ObjectId('663deefbdb2fdc9e602a1eb6'), ObjectId('663deefbdb2fdc9e602a1eb7'), ObjectId('663deefbdb2fdc9e602a1eb8'), ObjectId('663deefbdb2fdc9e602a1eb9'), ObjectId('663deefbdb2fdc9e602a1eba'), ObjectId('663deefbdb2fdc9e602a1ebb'), ObjectId('663deefbdb2fdc9e602a1ebc'), ObjectId('663deefbdb2fdc9e602a1ebd'), ObjectId('663deefbdb2fdc9e602a1ebe'), ObjectId('663deefbdb2fdc9e602a1ebf'), ObjectId('663deefbdb2fdc9e602a1ec0'), ObjectId('663deefbdb2fdc9e602a1ec1'), ObjectId('663deefbdb2fdc9e602a1ec2'), ObjectId('663deefbdb2fdc9e602a1ec3'), ObjectId('663deefbdb2fdc9e602a1ec4'), ObjectId('663deefbdb2fdc9e602a1ec5'), ObjectId('663deefbdb2fdc9e602a1ec6'), ObjectId('663deefbdb2fdc9e602a1ec7'), ObjectId('663deefbdb2fdc9e602a1ec8'), ObjectId('663deefbdb2fdc9e602a1ec9'), ObjectId('663deefbdb2fdc9e602a1eca'), ObjectId('663deefbdb2fdc9e602a1ecb'), ObjectId('663deefbdb2fdc9e602a1ecc'), ObjectId('663deefbdb2fdc9e602a1ecd'), ObjectId('663deefbdb2fdc9e602a1ece'), ObjectId('663deefbdb2fdc9e602a1ecf'), ObjectId('663deefbdb2fdc9e602a1ed0'), ObjectId('663deefbdb2fdc9e602a1ed1'), ObjectId('663deefbdb2fdc9e602a1ed2'), ObjectId('663deefbdb2fdc9e602a1ed3'), ObjectId('663deefbdb2fdc9e602a1ed4'), ObjectId('663deefbdb2fdc9e602a1ed5'), ObjectId('663deefbdb2fdc9e602a1ed6'), ObjectId('663deefbdb2fdc9e602a1ed7'), ObjectId('663deefbdb2fdc9e602a1ed8'), ObjectId('663deefbdb2fdc9e602a1ed9'), ObjectId('663deefbdb2fdc9e602a1eda'), ObjectId('663deefbdb2fdc9e602a1edb'), ObjectId('663deefbdb2fdc9e602a1edc'), ObjectId('663deefbdb2fdc9e602a1edd'), ObjectId('663deefbdb2fdc9e602a1ede'), ObjectId('663deefbdb2fdc9e602a1edf'), ObjectId('663deefbdb2fdc9e602a1ee0'), ObjectId('663deefbdb2fdc9e602a1ee1'), ObjectId('663deefbdb2fdc9e602a1ee2'), ObjectId('663deefbdb2fdc9e602a1ee3'), ObjectId('663deefbdb2fdc9e602a1ee4'), ObjectId('663deefbdb2fdc9e602a1ee5'), ObjectId('663deefbdb2fdc9e602a1ee6'), ObjectId('663deefbdb2fdc9e602a1ee7'), ObjectId('663deefbdb2fdc9e602a1ee8'), ObjectId('663deefbdb2fdc9e602a1ee9'), ObjectId('663deefbdb2fdc9e602a1eea'), ObjectId('663deefbdb2fdc9e602a1eeb'), ObjectId('663deefbdb2fdc9e602a1eec'), ObjectId('663deefbdb2fdc9e602a1eed'), ObjectId('663deefbdb2fdc9e602a1eee'), ObjectId('663deefbdb2fdc9e602a1eef'), ObjectId('663deefbdb2fdc9e602a1ef0'), ObjectId('663deefbdb2fdc9e602a1ef1'), ObjectId('663deefbdb2fdc9e602a1ef2'), ObjectId('663deefbdb2fdc9e602a1ef3'), ObjectId('663deefbdb2fdc9e602a1ef4'), ObjectId('663deefbdb2fdc9e602a1ef5'), ObjectId('663deefbdb2fdc9e602a1ef6'), ObjectId('663deefbdb2fdc9e602a1ef7'), ObjectId('663deefbdb2fdc9e602a1ef8'), ObjectId('663deefbdb2fdc9e602a1ef9'), ObjectId('663deefbdb2fdc9e602a1efa'), ObjectId('663deefbdb2fdc9e602a1efb'), ObjectId('663deefbdb2fdc9e602a1efc'), ObjectId('663deefbdb2fdc9e602a1efd'), ObjectId('663deefbdb2fdc9e602a1efe'), ObjectId('663deefbdb2fdc9e602a1eff'), ObjectId('663deefbdb2fdc9e602a1f00'), ObjectId('663deefbdb2fdc9e602a1f01'), ObjectId('663deefbdb2fdc9e602a1f02'), ObjectId('663deefbdb2fdc9e602a1f03'), ObjectId('663deefbdb2fdc9e602a1f04'), ObjectId('663deefbdb2fdc9e602a1f05'), ObjectId('663deefbdb2fdc9e602a1f06'), ObjectId('663deefbdb2fdc9e602a1f07'), ObjectId('663deefbdb2fdc9e602a1f08'), ObjectId('663deefbdb2fdc9e602a1f09'), ObjectId('663deefbdb2fdc9e602a1f0a'), ObjectId('663deefbdb2fdc9e602a1f0b'), ObjectId('663deefbdb2fdc9e602a1f0c'), ObjectId('663deefbdb2fdc9e602a1f0d'), ObjectId('663deefbdb2fdc9e602a1f0e'), ObjectId('663deefbdb2fdc9e602a1f0f'), ObjectId('663deefbdb2fdc9e602a1f10'), ObjectId('663deefbdb2fdc9e602a1f11'), ObjectId('663deefbdb2fdc9e602a1f12'), ObjectId('663deefbdb2fdc9e602a1f13'), ObjectId('663deefbdb2fdc9e602a1f14'), ObjectId('663deefbdb2fdc9e602a1f15'), ObjectId('663deefbdb2fdc9e602a1f16'), ObjectId('663deefbdb2fdc9e602a1f17'), ObjectId('663deefbdb2fdc9e602a1f18'), ObjectId('663deefbdb2fdc9e602a1f19'), ObjectId('663deefbdb2fdc9e602a1f1a'), ObjectId('663deefbdb2fdc9e602a1f1b'), ObjectId('663deefbdb2fdc9e602a1f1c'), ObjectId('663deefbdb2fdc9e602a1f1d'), ObjectId('663deefbdb2fdc9e602a1f1e'), ObjectId('663deefbdb2fdc9e602a1f1f'), ObjectId('663deefbdb2fdc9e602a1f20'), ObjectId('663deefbdb2fdc9e602a1f21'), ObjectId('663deefbdb2fdc9e602a1f22'), ObjectId('663deefbdb2fdc9e602a1f23'), ObjectId('663deefbdb2fdc9e602a1f24'), ObjectId('663deefbdb2fdc9e602a1f25'), ObjectId('663deefbdb2fdc9e602a1f26'), ObjectId('663deefbdb2fdc9e602a1f27'), ObjectId('663deefbdb2fdc9e602a1f28'), ObjectId('663deefbdb2fdc9e602a1f29'), ObjectId('663deefbdb2fdc9e602a1f2a'), ObjectId('663deefbdb2fdc9e602a1f2b'), ObjectId('663deefbdb2fdc9e602a1f2c'), ObjectId('663deefbdb2fdc9e602a1f2d'), ObjectId('663deefbdb2fdc9e602a1f2e'), ObjectId('663deefbdb2fdc9e602a1f2f'), ObjectId('663deefbdb2fdc9e602a1f30'), ObjectId('663deefbdb2fdc9e602a1f31'), ObjectId('663deefbdb2fdc9e602a1f32'), ObjectId('663deefbdb2fdc9e602a1f33'), ObjectId('663deefbdb2fdc9e602a1f34'), ObjectId('663deefbdb2fdc9e602a1f35'), ObjectId('663deefbdb2fdc9e602a1f36'), ObjectId('663deefbdb2fdc9e602a1f37'), ObjectId('663deefbdb2fdc9e602a1f38'), ObjectId('663deefbdb2fdc9e602a1f39'), ObjectId('663deefbdb2fdc9e602a1f3a'), ObjectId('663deefbdb2fdc9e602a1f3b'), ObjectId('663deefbdb2fdc9e602a1f3c'), ObjectId('663deefbdb2fdc9e602a1f3d'), ObjectId('663deefbdb2fdc9e602a1f3e'), ObjectId('663deefbdb2fdc9e602a1f3f'), ObjectId('663deefbdb2fdc9e602a1f40'), ObjectId('663deefbdb2fdc9e602a1f41'), ObjectId('663deefbdb2fdc9e602a1f42'), ObjectId('663deefbdb2fdc9e602a1f43'), ObjectId('663deefbdb2fdc9e602a1f44'), ObjectId('663deefbdb2fdc9e602a1f45'), ObjectId('663deefbdb2fdc9e602a1f46'), ObjectId('663deefbdb2fdc9e602a1f47'), ObjectId('663deefbdb2fdc9e602a1f48'), ObjectId('663deefbdb2fdc9e602a1f49'), ObjectId('663deefbdb2fdc9e602a1f4a'), ObjectId('663deefbdb2fdc9e602a1f4b'), ObjectId('663deefbdb2fdc9e602a1f4c'), ObjectId('663deefbdb2fdc9e602a1f4d'), ObjectId('663deefbdb2fdc9e602a1f4e'), ObjectId('663deefbdb2fdc9e602a1f4f'), ObjectId('663deefbdb2fdc9e602a1f50'), ObjectId('663deefbdb2fdc9e602a1f51'), ObjectId('663deefbdb2fdc9e602a1f52'), ObjectId('663deefbdb2fdc9e602a1f53'), ObjectId('663deefbdb2fdc9e602a1f54'), ObjectId('663deefbdb2fdc9e602a1f55'), ObjectId('663deefbdb2fdc9e602a1f56'), ObjectId('663deefbdb2fdc9e602a1f57'), ObjectId('663deefbdb2fdc9e602a1f58'), ObjectId('663deefbdb2fdc9e602a1f59'), ObjectId('663deefbdb2fdc9e602a1f5a'), ObjectId('663deefbdb2fdc9e602a1f5b'), ObjectId('663deefbdb2fdc9e602a1f5c'), ObjectId('663deefbdb2fdc9e602a1f5d'), ObjectId('663deefbdb2fdc9e602a1f5e'), ObjectId('663deefbdb2fdc9e602a1f5f'), ObjectId('663deefbdb2fdc9e602a1f60'), ObjectId('663deefbdb2fdc9e602a1f61'), ObjectId('663deefbdb2fdc9e602a1f62'), ObjectId('663deefbdb2fdc9e602a1f63'), ObjectId('663deefbdb2fdc9e602a1f64'), ObjectId('663deefbdb2fdc9e602a1f65'), ObjectId('663deefbdb2fdc9e602a1f66'), ObjectId('663deefbdb2fdc9e602a1f67'), ObjectId('663deefbdb2fdc9e602a1f68'), ObjectId('663deefbdb2fdc9e602a1f69'), ObjectId('663deefbdb2fdc9e602a1f6a'), ObjectId('663deefbdb2fdc9e602a1f6b'), ObjectId('663deefbdb2fdc9e602a1f6c'), ObjectId('663deefbdb2fdc9e602a1f6d'), ObjectId('663deefbdb2fdc9e602a1f6e'), ObjectId('663deefbdb2fdc9e602a1f6f'), ObjectId('663deefbdb2fdc9e602a1f70'), ObjectId('663deefbdb2fdc9e602a1f71'), ObjectId('663deefbdb2fdc9e602a1f72'), ObjectId('663deefbdb2fdc9e602a1f73'), ObjectId('663deefbdb2fdc9e602a1f74'), ObjectId('663deefbdb2fdc9e602a1f75'), ObjectId('663deefbdb2fdc9e602a1f76'), ObjectId('663deefbdb2fdc9e602a1f77'), ObjectId('663deefbdb2fdc9e602a1f78'), ObjectId('663deefbdb2fdc9e602a1f79'), ObjectId('663deefbdb2fdc9e602a1f7a'), ObjectId('663deefbdb2fdc9e602a1f7b'), ObjectId('663deefbdb2fdc9e602a1f7c'), ObjectId('663deefbdb2fdc9e602a1f7d'), ObjectId('663deefbdb2fdc9e602a1f7e'), ObjectId('663deefbdb2fdc9e602a1f7f'), ObjectId('663deefbdb2fdc9e602a1f80'), ObjectId('663deefbdb2fdc9e602a1f81'), ObjectId('663deefbdb2fdc9e602a1f82'), ObjectId('663deefbdb2fdc9e602a1f83'), ObjectId('663deefbdb2fdc9e602a1f84'), ObjectId('663deefbdb2fdc9e602a1f85'), ObjectId('663deefbdb2fdc9e602a1f86'), ObjectId('663deefbdb2fdc9e602a1f87'), ObjectId('663deefbdb2fdc9e602a1f88'), ObjectId('663deefbdb2fdc9e602a1f89'), ObjectId('663deefbdb2fdc9e602a1f8a'), ObjectId('663deefbdb2fdc9e602a1f8b'), ObjectId('663deefbdb2fdc9e602a1f8c'), ObjectId('663deefbdb2fdc9e602a1f8d'), ObjectId('663deefbdb2fdc9e602a1f8e'), ObjectId('663deefbdb2fdc9e602a1f8f'), ObjectId('663deefbdb2fdc9e602a1f90'), ObjectId('663deefbdb2fdc9e602a1f91'), ObjectId('663deefbdb2fdc9e602a1f92'), ObjectId('663deefbdb2fdc9e602a1f93'), ObjectId('663deefbdb2fdc9e602a1f94'), ObjectId('663deefbdb2fdc9e602a1f95'), ObjectId('663deefbdb2fdc9e602a1f96'), ObjectId('663deefbdb2fdc9e602a1f97'), ObjectId('663deefbdb2fdc9e602a1f98'), ObjectId('663deefbdb2fdc9e602a1f99'), ObjectId('663deefbdb2fdc9e602a1f9a'), ObjectId('663deefbdb2fdc9e602a1f9b'), ObjectId('663deefbdb2fdc9e602a1f9c'), ObjectId('663deefbdb2fdc9e602a1f9d'), ObjectId('663deefbdb2fdc9e602a1f9e'), ObjectId('663deefbdb2fdc9e602a1f9f'), ObjectId('663deefbdb2fdc9e602a1fa0'), ObjectId('663deefbdb2fdc9e602a1fa1'), ObjectId('663deefbdb2fdc9e602a1fa2'), ObjectId('663deefbdb2fdc9e602a1fa3'), ObjectId('663deefbdb2fdc9e602a1fa4'), ObjectId('663deefbdb2fdc9e602a1fa5'), ObjectId('663deefbdb2fdc9e602a1fa6'), ObjectId('663deefbdb2fdc9e602a1fa7'), ObjectId('663deefbdb2fdc9e602a1fa8'), ObjectId('663deefbdb2fdc9e602a1fa9'), ObjectId('663deefbdb2fdc9e602a1faa'), ObjectId('663deefbdb2fdc9e602a1fab'), ObjectId('663deefbdb2fdc9e602a1fac'), ObjectId('663deefbdb2fdc9e602a1fad'), ObjectId('663deefbdb2fdc9e602a1fae'), ObjectId('663deefbdb2fdc9e602a1faf'), ObjectId('663deefbdb2fdc9e602a1fb0'), ObjectId('663deefbdb2fdc9e602a1fb1'), ObjectId('663deefbdb2fdc9e602a1fb2'), ObjectId('663deefbdb2fdc9e602a1fb3'), ObjectId('663deefbdb2fdc9e602a1fb4'), ObjectId('663deefbdb2fdc9e602a1fb5'), ObjectId('663deefbdb2fdc9e602a1fb6'), ObjectId('663deefbdb2fdc9e602a1fb7'), ObjectId('663deefbdb2fdc9e602a1fb8'), ObjectId('663deefbdb2fdc9e602a1fb9'), ObjectId('663deefbdb2fdc9e602a1fba'), ObjectId('663deefbdb2fdc9e602a1fbb'), ObjectId('663deefbdb2fdc9e602a1fbc'), ObjectId('663deefbdb2fdc9e602a1fbd'), ObjectId('663deefbdb2fdc9e602a1fbe'), ObjectId('663deefbdb2fdc9e602a1fbf'), ObjectId('663deefbdb2fdc9e602a1fc0'), ObjectId('663deefbdb2fdc9e602a1fc1'), ObjectId('663deefbdb2fdc9e602a1fc2'), ObjectId('663deefbdb2fdc9e602a1fc3'), ObjectId('663deefbdb2fdc9e602a1fc4'), ObjectId('663deefbdb2fdc9e602a1fc5'), ObjectId('663deefbdb2fdc9e602a1fc6'), ObjectId('663deefbdb2fdc9e602a1fc7'), ObjectId('663deefbdb2fdc9e602a1fc8'), ObjectId('663deefbdb2fdc9e602a1fc9'), ObjectId('663deefbdb2fdc9e602a1fca'), ObjectId('663deefbdb2fdc9e602a1fcb'), ObjectId('663deefbdb2fdc9e602a1fcc'), ObjectId('663deefbdb2fdc9e602a1fcd'), ObjectId('663deefbdb2fdc9e602a1fce'), ObjectId('663deefbdb2fdc9e602a1fcf'), ObjectId('663deefbdb2fdc9e602a1fd0'), ObjectId('663deefbdb2fdc9e602a1fd1'), ObjectId('663deefbdb2fdc9e602a1fd2'), ObjectId('663deefbdb2fdc9e602a1fd3'), ObjectId('663deefbdb2fdc9e602a1fd4'), ObjectId('663deefbdb2fdc9e602a1fd5'), ObjectId('663deefbdb2fdc9e602a1fd6'), ObjectId('663deefbdb2fdc9e602a1fd7'), ObjectId('663deefbdb2fdc9e602a1fd8'), ObjectId('663deefbdb2fdc9e602a1fd9'), ObjectId('663deefbdb2fdc9e602a1fda'), ObjectId('663deefbdb2fdc9e602a1fdb'), ObjectId('663deefbdb2fdc9e602a1fdc'), ObjectId('663deefbdb2fdc9e602a1fdd'), ObjectId('663deefbdb2fdc9e602a1fde'), ObjectId('663deefbdb2fdc9e602a1fdf'), ObjectId('663deefbdb2fdc9e602a1fe0'), ObjectId('663deefbdb2fdc9e602a1fe1'), ObjectId('663deefbdb2fdc9e602a1fe2'), ObjectId('663deefbdb2fdc9e602a1fe3'), ObjectId('663deefbdb2fdc9e602a1fe4'), ObjectId('663deefbdb2fdc9e602a1fe5'), ObjectId('663deefbdb2fdc9e602a1fe6'), ObjectId('663deefbdb2fdc9e602a1fe7'), ObjectId('663deefbdb2fdc9e602a1fe8'), ObjectId('663deefbdb2fdc9e602a1fe9'), ObjectId('663deefbdb2fdc9e602a1fea'), ObjectId('663deefbdb2fdc9e602a1feb'), ObjectId('663deefbdb2fdc9e602a1fec'), ObjectId('663deefbdb2fdc9e602a1fed'), ObjectId('663deefbdb2fdc9e602a1fee'), ObjectId('663deefbdb2fdc9e602a1fef'), ObjectId('663deefbdb2fdc9e602a1ff0'), ObjectId('663deefbdb2fdc9e602a1ff1'), ObjectId('663deefbdb2fdc9e602a1ff2'), ObjectId('663deefbdb2fdc9e602a1ff3'), ObjectId('663deefbdb2fdc9e602a1ff4'), ObjectId('663deefbdb2fdc9e602a1ff5'), ObjectId('663deefbdb2fdc9e602a1ff6'), ObjectId('663deefbdb2fdc9e602a1ff7'), ObjectId('663deefbdb2fdc9e602a1ff8'), ObjectId('663deefbdb2fdc9e602a1ff9'), ObjectId('663deefbdb2fdc9e602a1ffa'), ObjectId('663deefbdb2fdc9e602a1ffb'), ObjectId('663deefbdb2fdc9e602a1ffc'), ObjectId('663deefbdb2fdc9e602a1ffd'), ObjectId('663deefbdb2fdc9e602a1ffe'), ObjectId('663deefbdb2fdc9e602a1fff'), ObjectId('663deefbdb2fdc9e602a2000'), ObjectId('663deefbdb2fdc9e602a2001'), ObjectId('663deefbdb2fdc9e602a2002'), ObjectId('663deefbdb2fdc9e602a2003'), ObjectId('663deefbdb2fdc9e602a2004'), ObjectId('663deefbdb2fdc9e602a2005'), ObjectId('663deefbdb2fdc9e602a2006'), ObjectId('663deefbdb2fdc9e602a2007'), ObjectId('663deefbdb2fdc9e602a2008'), ObjectId('663deefbdb2fdc9e602a2009'), ObjectId('663deefbdb2fdc9e602a200a'), ObjectId('663deefbdb2fdc9e602a200b'), ObjectId('663deefbdb2fdc9e602a200c'), ObjectId('663deefbdb2fdc9e602a200d'), ObjectId('663deefbdb2fdc9e602a200e'), ObjectId('663deefbdb2fdc9e602a200f'), ObjectId('663deefbdb2fdc9e602a2010'), ObjectId('663deefbdb2fdc9e602a2011'), ObjectId('663deefbdb2fdc9e602a2012'), ObjectId('663deefbdb2fdc9e602a2013'), ObjectId('663deefbdb2fdc9e602a2014'), ObjectId('663deefbdb2fdc9e602a2015'), ObjectId('663deefbdb2fdc9e602a20