### jupyter notebook to adjust the data from onet to the Swiss labour market

author: Jan Jörg
date: 14.03.2024

###### onet soc to soc crosswalk: https://www.onetcenter.org/crosswalks.html
###### soc to isco08 crosswalk: https://www.bls.gov/soc/ISCO_SOC_Crosswalk.xls
###### ch isco 19: https://www.i14y.admin.ch/en/catalog/datasets/HCL_CH_ISCO_19_PROF_1_2/distributions

In [301]:
# imports
import pandas as pd
from db import get_database

In [302]:
onet_file =  "files/ONETSOC_SOC.xlsx"
sheet =  "ONETSOC_SOC"

onetsoc_soc = pd.read_excel(io=onet_file, sheet_name=sheet , skiprows=3, dtype=str)

# rename cols
onetsoc_soc = onetsoc_soc.rename(columns={'O*NET-SOC 2019 Code': 'onetsoc19'})
onetsoc_soc = onetsoc_soc.rename(columns={'2018 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['O*NET-SOC 2019 Title', '2018 SOC Title']

# Drop specified columns
onetsoc_soc = onetsoc_soc.drop(columns=cols_to_drop)
onetsoc_soc = onetsoc_soc.dropna()
print(onetsoc_soc.shape[0])

onetsoc_soc.head(2)

1016

    onetsoc19  2010soc
0  11-1011.00  11-1011
1  11-1011.03  11-1011

In [303]:
file_name =  "files/ISCO_SOC.xls"
sheet =  "ISCO_SOC"

isco_soc = pd.read_excel(io=file_name, sheet_name=sheet , skiprows=6, dtype=str)

# rename cols
isco_soc = isco_soc.rename(columns={'ISCO-08 Code': 'isco08'})
isco_soc = isco_soc.rename(columns={'2010 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['ISCO-08 Title EN', 'part', '2010 SOC Title', "Comment 8/17/11"]

# Drop specified columns
isco_soc = isco_soc.drop(columns=cols_to_drop)
isco_soc = isco_soc.dropna()
print(isco_soc.shape[0])

isco_soc.head(2)

1125

  isco08   2010soc
0   0110  55-1011
1   0110  55-1012

In [323]:
file_name =  "files/CH_ISCO_19.xlsx"
sheet =  "CH_ISCO_19"

ch_isco = pd.read_excel(io=file_name, sheet_name=sheet, skiprows=0, dtype=str)

# rename cols
ch_isco = ch_isco.rename(columns={'Berufsgattungen': 'isco08'})

# List of columns to drop
cols_to_drop = ["Berufshauptgruppen",'Berufsgruppen', 'Berufsuntergruppen', "Berufsarten", "Code"]

# Drop specified columns
ch_isco = ch_isco.drop(columns=cols_to_drop)
ch_isco = ch_isco.dropna()
print(ch_isco.shape[0])

ch_isco.head(2)

582

  isco08                                    Name_de
3   0110       Offiziere in regulären Streitkräften
7   0210  Unteroffiziere in regulären Streitkräften

In [324]:
dbname = get_database()

collection_name = dbname["onet"]

data = collection_name.find()
onet = pd.DataFrame(list(data))
onet.head(2)

,_id,code,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [325]:
# import Source Frey / Osborne

fo =  pd.read_csv("files/FO.csv")

In [326]:
# Convert 'code' column to string
onet['code'] = onet['code'].astype(str)
fo["code"] = fo["code"].astype(str)

# Rename 'code' column to 'onetsoc19'
onet = onet.rename(columns={'code': 'onetsoc19'})
fo = fo.rename(columns={'code': '2010soc'})

print(onet.shape[0])

1016

In [327]:
onet.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [328]:
fo.head(2)

,Rank,Probability,Label,2010soc,Occupation
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...

In [329]:
# crosswalk onet soc

joined = pd.merge(onet, onetsoc_soc, left_on='onetsoc19', right_on="onetsoc19", how='left')

joined = joined.dropna()

# print amount of cols
print(joined.shape[0])

851

In [330]:
# crosswalk soc

joined = pd.merge(joined, isco_soc, left_on='2010soc', right_on="2010soc", how='left')
fo_joined = pd.merge(fo, isco_soc, left_on='2010soc', right_on="2010soc", how='left')

# print amount of cols
print(joined.shape[0])

1065

In [331]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612

In [332]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127

In [333]:
# crosswalk isco08

joined = pd.merge(joined, ch_isco, left_on='isco08', right_on="isco08", how='left')
fo_joined = pd.merge(fo_joined, ch_isco, left_on='isco08', right_on="isco08", how='left')

# print amount of cols
print(joined.shape[0])
print(fo_joined.shape[0])

1065
803

In [334]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [335]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"

In [336]:
joined = joined.dropna()
joined = joined.drop(columns=["_id"])
fo_joined = fo_joined.dropna()
print(joined.shape[0])
joined.head(2)

846

,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [337]:
fo_joined.head(5)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
1,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"
2,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7231,Kraftfahrzeugmechaniker und -schlosser
3,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7232,Flugmotorenmechaniker und -schlosser
4,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7233,Landmaschinen- und Industriemaschinenmechanike...
5,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7234,Fahrradmechaniker und verwandte Berufe

In [338]:
joined = joined.drop(columns=["onetsoc19","2010soc"])
fo_joined = fo_joined.drop(columns=["2010soc","Occupation","Name_de","Rank"])
fo_joined = fo_joined.rename(columns={'Label': 'fo_computerisation',"Probability":"fo_probability"})

In [339]:
fo_joined.head(2)

   fo_probability fo_computerisation isco08
1           0.003                 na   7127
2           0.003                 na   7231

In [340]:
joined.head(5)

,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,work_activities,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,isco08,Name_de
0,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,2655,Schauspieler
1,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'element': [{'id': '4.A.2.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,2612,Richter
2,long,"{'code': '17-3021.00', 'title': 'Aerospace Eng...","{'task': [{'id': 10888, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'see_all': {'href': 'https://services.onetcen...,{'tools': {'see_all': {'href': 'https://servic...,"{'element': [{'id': '2.C.3.e', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.1', 'related': 'h...","{'element': [{'id': '4.A.1.a.1', 'related': 'h...",...,"{'element': [{'id': '4.C.3.b.4', 'related': 'h...","{'value': 3, 'title': 'Job Zone Three: Medium ...",{'level_required': {'category': [{'name': 'Pos...,"{'element': [{'id': '1.B.1.a', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.e', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aiaa.org/', '...",3115,"Maschinenbautechniker, Techniker im Bereich Sy..."
3,long,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actuary.org/'...,2120,"Mathematiker, Aktuare und Statistiker"
4,long,"{'code': '11-2011.00', 'title': 'Advertising a...","{'task': [{'id': 3224, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.d', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.3.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.e', 'related': 'htt...","{'element': [{'id': '1.C.1.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.adcouncil.org...,1222,Führungskräfte in Werbung und Öffentlichkeitsa...

In [341]:
#dbname = get_database()

collection_name = dbname["joined"]
fo_col = dbname["fo_joined"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(joined.to_dict("records"))
fo_col.insert_many(fo_joined.to_dict("records"))

InsertManyResult([ObjectId('663e2380db2fdc9e602a9498'), ObjectId('663e2380db2fdc9e602a9499'), ObjectId('663e2380db2fdc9e602a949a'), ObjectId('663e2380db2fdc9e602a949b'), ObjectId('663e2380db2fdc9e602a949c'), ObjectId('663e2380db2fdc9e602a949d'), ObjectId('663e2380db2fdc9e602a949e'), ObjectId('663e2380db2fdc9e602a949f'), ObjectId('663e2380db2fdc9e602a94a0'), ObjectId('663e2380db2fdc9e602a94a1'), ObjectId('663e2380db2fdc9e602a94a2'), ObjectId('663e2380db2fdc9e602a94a3'), ObjectId('663e2380db2fdc9e602a94a4'), ObjectId('663e2380db2fdc9e602a94a5'), ObjectId('663e2380db2fdc9e602a94a6'), ObjectId('663e2380db2fdc9e602a94a7'), ObjectId('663e2380db2fdc9e602a94a8'), ObjectId('663e2380db2fdc9e602a94a9'), ObjectId('663e2380db2fdc9e602a94aa'), ObjectId('663e2380db2fdc9e602a94ab'), ObjectId('663e2380db2fdc9e602a94ac'), ObjectId('663e2380db2fdc9e602a94ad'), ObjectId('663e2380db2fdc9e602a94ae'), ObjectId('663e2380db2fdc9e602a94af'), ObjectId('663e2380db2fdc9e602a94b0'), ObjectId('663e2380db2fdc9e602a94b1'), ObjectId('663e2380db2fdc9e602a94b2'), ObjectId('663e2380db2fdc9e602a94b3'), ObjectId('663e2380db2fdc9e602a94b4'), ObjectId('663e2380db2fdc9e602a94b5'), ObjectId('663e2380db2fdc9e602a94b6'), ObjectId('663e2380db2fdc9e602a94b7'), ObjectId('663e2380db2fdc9e602a94b8'), ObjectId('663e2380db2fdc9e602a94b9'), ObjectId('663e2380db2fdc9e602a94ba'), ObjectId('663e2380db2fdc9e602a94bb'), ObjectId('663e2380db2fdc9e602a94bc'), ObjectId('663e2380db2fdc9e602a94bd'), ObjectId('663e2380db2fdc9e602a94be'), ObjectId('663e2380db2fdc9e602a94bf'), ObjectId('663e2380db2fdc9e602a94c0'), ObjectId('663e2380db2fdc9e602a94c1'), ObjectId('663e2380db2fdc9e602a94c2'), ObjectId('663e2380db2fdc9e602a94c3'), ObjectId('663e2380db2fdc9e602a94c4'), ObjectId('663e2380db2fdc9e602a94c5'), ObjectId('663e2380db2fdc9e602a94c6'), ObjectId('663e2380db2fdc9e602a94c7'), ObjectId('663e2380db2fdc9e602a94c8'), ObjectId('663e2380db2fdc9e602a94c9'), ObjectId('663e2380db2fdc9e602a94ca'), ObjectId('663e2380db2fdc9e602a94cb'), ObjectId('663e2380db2fdc9e602a94cc'), ObjectId('663e2380db2fdc9e602a94cd'), ObjectId('663e2380db2fdc9e602a94ce'), ObjectId('663e2380db2fdc9e602a94cf'), ObjectId('663e2380db2fdc9e602a94d0'), ObjectId('663e2380db2fdc9e602a94d1'), ObjectId('663e2380db2fdc9e602a94d2'), ObjectId('663e2380db2fdc9e602a94d3'), ObjectId('663e2380db2fdc9e602a94d4'), ObjectId('663e2380db2fdc9e602a94d5'), ObjectId('663e2380db2fdc9e602a94d6'), ObjectId('663e2380db2fdc9e602a94d7'), ObjectId('663e2380db2fdc9e602a94d8'), ObjectId('663e2380db2fdc9e602a94d9'), ObjectId('663e2380db2fdc9e602a94da'), ObjectId('663e2380db2fdc9e602a94db'), ObjectId('663e2380db2fdc9e602a94dc'), ObjectId('663e2380db2fdc9e602a94dd'), ObjectId('663e2380db2fdc9e602a94de'), ObjectId('663e2380db2fdc9e602a94df'), ObjectId('663e2380db2fdc9e602a94e0'), ObjectId('663e2380db2fdc9e602a94e1'), ObjectId('663e2380db2fdc9e602a94e2'), ObjectId('663e2380db2fdc9e602a94e3'), ObjectId('663e2380db2fdc9e602a94e4'), ObjectId('663e2380db2fdc9e602a94e5'), ObjectId('663e2380db2fdc9e602a94e6'), ObjectId('663e2380db2fdc9e602a94e7'), ObjectId('663e2380db2fdc9e602a94e8'), ObjectId('663e2380db2fdc9e602a94e9'), ObjectId('663e2380db2fdc9e602a94ea'), ObjectId('663e2380db2fdc9e602a94eb'), ObjectId('663e2380db2fdc9e602a94ec'), ObjectId('663e2380db2fdc9e602a94ed'), ObjectId('663e2380db2fdc9e602a94ee'), ObjectId('663e2380db2fdc9e602a94ef'), ObjectId('663e2380db2fdc9e602a94f0'), ObjectId('663e2380db2fdc9e602a94f1'), ObjectId('663e2380db2fdc9e602a94f2'), ObjectId('663e2380db2fdc9e602a94f3'), ObjectId('663e2380db2fdc9e602a94f4'), ObjectId('663e2380db2fdc9e602a94f5'), ObjectId('663e2380db2fdc9e602a94f6'), ObjectId('663e2380db2fdc9e602a94f7'), ObjectId('663e2380db2fdc9e602a94f8'), ObjectId('663e2380db2fdc9e602a94f9'), ObjectId('663e2380db2fdc9e602a94fa'), ObjectId('663e2380db2fdc9e602a94fb'), ObjectId('663e2380db2fdc9e602a94fc'), ObjectId('663e2380db2fdc9e602a94fd'), ObjectId('663e2380db2fdc9e602a94fe'), ObjectId('663e2380db2fdc9e602a94ff'), ObjectId('663e2380db2fdc9e602a9500'), ObjectId('663e2380db2fdc9e602a9501'), ObjectId('663e2380db2fdc9e602a9502'), ObjectId('663e2380db2fdc9e602a9503'), ObjectId('663e2380db2fdc9e602a9504'), ObjectId('663e2380db2fdc9e602a9505'), ObjectId('663e2380db2fdc9e602a9506'), ObjectId('663e2380db2fdc9e602a9507'), ObjectId('663e2380db2fdc9e602a9508'), ObjectId('663e2380db2fdc9e602a9509'), ObjectId('663e2380db2fdc9e602a950a'), ObjectId('663e2380db2fdc9e602a950b'), ObjectId('663e2380db2fdc9e602a950c'), ObjectId('663e2380db2fdc9e602a950d'), ObjectId('663e2380db2fdc9e602a950e'), ObjectId('663e2380db2fdc9e602a950f'), ObjectId('663e2380db2fdc9e602a9510'), ObjectId('663e2380db2fdc9e602a9511'), ObjectId('663e2380db2fdc9e602a9512'), ObjectId('663e2380db2fdc9e602a9513'), ObjectId('663e2380db2fdc9e602a9514'), ObjectId('663e2380db2fdc9e602a9515'), ObjectId('663e2380db2fdc9e602a9516'), ObjectId('663e2380db2fdc9e602a9517'), ObjectId('663e2380db2fdc9e602a9518'), ObjectId('663e2380db2fdc9e602a9519'), ObjectId('663e2380db2fdc9e602a951a'), ObjectId('663e2380db2fdc9e602a951b'), ObjectId('663e2380db2fdc9e602a951c'), ObjectId('663e2380db2fdc9e602a951d'), ObjectId('663e2380db2fdc9e602a951e'), ObjectId('663e2380db2fdc9e602a951f'), ObjectId('663e2380db2fdc9e602a9520'), ObjectId('663e2380db2fdc9e602a9521'), ObjectId('663e2380db2fdc9e602a9522'), ObjectId('663e2380db2fdc9e602a9523'), ObjectId('663e2380db2fdc9e602a9524'), ObjectId('663e2380db2fdc9e602a9525'), ObjectId('663e2380db2fdc9e602a9526'), ObjectId('663e2380db2fdc9e602a9527'), ObjectId('663e2380db2fdc9e602a9528'), ObjectId('663e2380db2fdc9e602a9529'), ObjectId('663e2380db2fdc9e602a952a'), ObjectId('663e2380db2fdc9e602a952b'), ObjectId('663e2380db2fdc9e602a952c'), ObjectId('663e2380db2fdc9e602a952d'), ObjectId('663e2380db2fdc9e602a952e'), ObjectId('663e2380db2fdc9e602a952f'), ObjectId('663e2380db2fdc9e602a9530'), ObjectId('663e2380db2fdc9e602a9531'), ObjectId('663e2380db2fdc9e602a9532'), ObjectId('663e2380db2fdc9e602a9533'), ObjectId('663e2380db2fdc9e602a9534'), ObjectId('663e2380db2fdc9e602a9535'), ObjectId('663e2380db2fdc9e602a9536'), ObjectId('663e2380db2fdc9e602a9537'), ObjectId('663e2380db2fdc9e602a9538'), ObjectId('663e2380db2fdc9e602a9539'), ObjectId('663e2380db2fdc9e602a953a'), ObjectId('663e2380db2fdc9e602a953b'), ObjectId('663e2380db2fdc9e602a953c'), ObjectId('663e2380db2fdc9e602a953d'), ObjectId('663e2380db2fdc9e602a953e'), ObjectId('663e2380db2fdc9e602a953f'), ObjectId('663e2380db2fdc9e602a9540'), ObjectId('663e2380db2fdc9e602a9541'), ObjectId('663e2380db2fdc9e602a9542'), ObjectId('663e2380db2fdc9e602a9543'), ObjectId('663e2380db2fdc9e602a9544'), ObjectId('663e2380db2fdc9e602a9545'), ObjectId('663e2380db2fdc9e602a9546'), ObjectId('663e2380db2fdc9e602a9547'), ObjectId('663e2380db2fdc9e602a9548'), ObjectId('663e2380db2fdc9e602a9549'), ObjectId('663e2380db2fdc9e602a954a'), ObjectId('663e2380db2fdc9e602a954b'), ObjectId('663e2380db2fdc9e602a954c'), ObjectId('663e2380db2fdc9e602a954d'), ObjectId('663e2380db2fdc9e602a954e'), ObjectId('663e2380db2fdc9e602a954f'), ObjectId('663e2380db2fdc9e602a9550'), ObjectId('663e2380db2fdc9e602a9551'), ObjectId('663e2380db2fdc9e602a9552'), ObjectId('663e2380db2fdc9e602a9553'), ObjectId('663e2380db2fdc9e602a9554'), ObjectId('663e2380db2fdc9e602a9555'), ObjectId('663e2380db2fdc9e602a9556'), ObjectId('663e2380db2fdc9e602a9557'), ObjectId('663e2380db2fdc9e602a9558'), ObjectId('663e2380db2fdc9e602a9559'), ObjectId('663e2380db2fdc9e602a955a'), ObjectId('663e2380db2fdc9e602a955b'), ObjectId('663e2380db2fdc9e602a955c'), ObjectId('663e2380db2fdc9e602a955d'), ObjectId('663e2380db2fdc9e602a955e'), ObjectId('663e2380db2fdc9e602a955f'), ObjectId('663e2380db2fdc9e602a9560'), ObjectId('663e2380db2fdc9e602a9561'), ObjectId('663e2380db2fdc9e602a9562'), ObjectId('663e2380db2fdc9e602a9563'), ObjectId('663e2380db2fdc9e602a9564'), ObjectId('663e2380db2fdc9e602a9565'), ObjectId('663e2380db2fdc9e602a9566'), ObjectId('663e2380db2fdc9e602a9567'), ObjectId('663e2380db2fdc9e602a9568'), ObjectId('663e2380db2fdc9e602a9569'), ObjectId('663e2380db2fdc9e602a956a'), ObjectId('663e2380db2fdc9e602a956b'), ObjectId('663e2380db2fdc9e602a956c'), ObjectId('663e2380db2fdc9e602a956d'), ObjectId('663e2380db2fdc9e602a956e'), ObjectId('663e2380db2fdc9e602a956f'), ObjectId('663e2380db2fdc9e602a9570'), ObjectId('663e2380db2fdc9e602a9571'), ObjectId('663e2380db2fdc9e602a9572'), ObjectId('663e2380db2fdc9e602a9573'), ObjectId('663e2380db2fdc9e602a9574'), ObjectId('663e2380db2fdc9e602a9575'), ObjectId('663e2380db2fdc9e602a9576'), ObjectId('663e2380db2fdc9e602a9577'), ObjectId('663e2380db2fdc9e602a9578'), ObjectId('663e2380db2fdc9e602a9579'), ObjectId('663e2380db2fdc9e602a957a'), ObjectId('663e2380db2fdc9e602a957b'), ObjectId('663e2380db2fdc9e602a957c'), ObjectId('663e2380db2fdc9e602a957d'), ObjectId('663e2380db2fdc9e602a957e'), ObjectId('663e2380db2fdc9e602a957f'), ObjectId('663e2380db2fdc9e602a9580'), ObjectId('663e2380db2fdc9e602a9581'), ObjectId('663e2380db2fdc9e602a9582'), ObjectId('663e2380db2fdc9e602a9583'), ObjectId('663e2380db2fdc9e602a9584'), ObjectId('663e2380db2fdc9e602a9585'), ObjectId('663e2380db2fdc9e602a9586'), ObjectId('663e2380db2fdc9e602a9587'), ObjectId('663e2380db2fdc9e602a9588'), ObjectId('663e2380db2fdc9e602a9589'), ObjectId('663e2380db2fdc9e602a958a'), ObjectId('663e2380db2fdc9e602a958b'), ObjectId('663e2380db2fdc9e602a958c'), ObjectId('663e2380db2fdc9e602a958d'), ObjectId('663e2380db2fdc9e602a958e'), ObjectId('663e2380db2fdc9e602a958f'), ObjectId('663e2380db2fdc9e602a9590'), ObjectId('663e2380db2fdc9e602a9591'), ObjectId('663e2380db2fdc9e602a9592'), ObjectId('663e2380db2fdc9e602a9593'), ObjectId('663e2380db2fdc9e602a9594'), ObjectId('663e2380db2fdc9e602a9595'), ObjectId('663e2380db2fdc9e602a9596'), ObjectId('663e2380db2fdc9e602a9597'), ObjectId('663e2380db2fdc9e602a9598'), ObjectId('663e2380db2fdc9e602a9599'), ObjectId('663e2380db2fdc9e602a959a'), ObjectId('663e2380db2fdc9e602a959b'), ObjectId('663e2380db2fdc9e602a959c'), ObjectId('663e2380db2fdc9e602a959d'), ObjectId('663e2380db2fdc9e602a959e'), ObjectId('663e2380db2fdc9e602a959f'), ObjectId('663e2380db2fdc9e602a95a0'), ObjectId('663e2380db2fdc9e602a95a1'), ObjectId('663e2380db2fdc9e602a95a2'), ObjectId('663e2380db2fdc9e602a95a3'), ObjectId('663e2380db2fdc9e602a95a4'), ObjectId('663e2380db2fdc9e602a95a5'), ObjectId('663e2380db2fdc9e602a95a6'), ObjectId('663e2380db2fdc9e602a95a7'), ObjectId('663e2380db2fdc9e602a95a8'), ObjectId('663e2380db2fdc9e602a95a9'), ObjectId('663e2380db2fdc9e602a95aa'), ObjectId('663e2380db2fdc9e602a95ab'), ObjectId('663e2380db2fdc9e602a95ac'), ObjectId('663e2380db2fdc9e602a95ad'), ObjectId('663e2380db2fdc9e602a95ae'), ObjectId('663e2380db2fdc9e602a95af'), ObjectId('663e2380db2fdc9e602a95b0'), ObjectId('663e2380db2fdc9e602a95b1'), ObjectId('663e2380db2fdc9e602a95b2'), ObjectId('663e2380db2fdc9e602a95b3'), ObjectId('663e2380db2fdc9e602a95b4'), ObjectId('663e2380db2fdc9e602a95b5'), ObjectId('663e2380db2fdc9e602a95b6'), ObjectId('663e2380db2fdc9e602a95b7'), ObjectId('663e2380db2fdc9e602a95b8'), ObjectId('663e2380db2fdc9e602a95b9'), ObjectId('663e2380db2fdc9e602a95ba'), ObjectId('663e2380db2fdc9e602a95bb'), ObjectId('663e2380db2fdc9e602a95bc'), ObjectId('663e2380db2fdc9e602a95bd'), ObjectId('663e2380db2fdc9e602a95be'), ObjectId('663e2380db2fdc9e602a95bf'), ObjectId('663e2380db2fdc9e602a95c0'), ObjectId('663e2380db2fdc9e602a95c1'), ObjectId('663e2380db2fdc9e602a95c2'), ObjectId('663e2380db2fdc9e602a95c3'), ObjectId('663e2380db2fdc9e602a95c4'), ObjectId('663e2380db2fdc9e602a95c5'), ObjectId('663e2380db2fdc9e602a95c6'), ObjectId('663e2380db2fdc9e602a95c7'), ObjectId('663e2380db2fdc9e602a95c8'), ObjectId('663e2380db2fdc9e602a95c9'), ObjectId('663e2380db2fdc9e602a95ca'), ObjectId('663e2380db2fdc9e602a95cb'), ObjectId('663e2380db2fdc9e602a95cc'), ObjectId('663e2380db2fdc9e602a95cd'), ObjectId('663e2380db2fdc9e602a95ce'), ObjectId('663e2380db2fdc9e602a95cf'), ObjectId('663e2380db2fdc9e602a95d0'), ObjectId('663e2380db2fdc9e602a95d1'), ObjectId('663e2380db2fdc9e602a95d2'), ObjectId('663e2380db2fdc9e602a95d3'), ObjectId('663e2380db2fdc9e602a95d4'), ObjectId('663e2380db2fdc9e602a95d5'), ObjectId('663e2380db2fdc9e602a95d6'), ObjectId('663e2380db2fdc9e602a95d7'), ObjectId('663e2380db2fdc9e602a95d8'), ObjectId('663e2380db2fdc9e602a95d9'), ObjectId('663e2380db2fdc9e602a95da'), ObjectId('663e2380db2fdc9e602a95db'), ObjectId('663e2380db2fdc9e602a95dc'), ObjectId('663e2380db2fdc9e602a95dd'), ObjectId('663e2380db2fdc9e602a95de'), ObjectId('663e2380db2fdc9e602a95df'), ObjectId('663e2380db2fdc9e602a95e0'), ObjectId('663e2380db2fdc9e602a95e1'), ObjectId('663e2380db2fdc9e602a95e2'), ObjectId('663e2380db2fdc9e602a95e3'), ObjectId('663e2380db2fdc9e602a95e4'), ObjectId('663e2380db2fdc9e602a95e5'), ObjectId('663e2380db2fdc9e602a95e6'), ObjectId('663e2380db2fdc9e602a95e7'), ObjectId('663e2380db2fdc9e602a95e8'), ObjectId('663e2380db2fdc9e602a95e9'), ObjectId('663e2380db2fdc9e602a95ea'), ObjectId('663e2380db2fdc9e602a95eb'), ObjectId('663e2380db2fdc9e602a95ec'), ObjectId('663e2380db2fdc9e602a95ed'), ObjectId('663e2380db2fdc9e602a95ee'), ObjectId('663e2380db2fdc9e602a95ef'), ObjectId('663e2380db2fdc9e602a95f0'), ObjectId('663e2380db2fdc9e602a95f1'), ObjectId('663e2380db2fdc9e602a95f2'), ObjectId('663e2380db2fdc9e602a95f3'), ObjectId('663e2380db2fdc9e602a95f4'), ObjectId('663e2380db2fdc9e602a95f5'), ObjectId('663e2380db2fdc9e602a95f6'), ObjectId('663e2380db2fdc9e602a95f7'), ObjectId('663e2380db2fdc9e602a95f8'), ObjectId('663e2380db2fdc9e602a95f9'), ObjectId('663e2380db2fdc9e602a95fa'), ObjectId('663e2380db2fdc9e602a95fb'), ObjectId('663e2380db2fdc9e602a95fc'), ObjectId('663e2380db2fdc9e602a95fd'), ObjectId('663e2380db2fdc9e602a95fe'), ObjectId('663e2380db2fdc9e602a95ff'), ObjectId('663e2380db2fdc9e602a9600'), ObjectId('663e2380db2fdc9e602a9601'), ObjectId('663e2380db2fdc9e602a9602'), ObjectId('663e2380db2fdc9e602a9603'), ObjectId('663e2380db2fdc9e602a9604'), ObjectId('663e2380db2fdc9e602a9605'), ObjectId('663e2380db2fdc9e602a9606'), ObjectId('663e2380db2fdc9e602a9607'), ObjectId('663e2380db2fdc9e602a9608'), ObjectId('663e2380db2fdc9e602a9609'), ObjectId('663e2380db2fdc9e602a960a'), ObjectId('663e2380db2fdc9e602a960b'), ObjectId('663e2380db2fdc9e602a960c'), ObjectId('663e2380db2fdc9e602a960d'), ObjectId('663e2380db2fdc9e602a960e'), ObjectId('663e2380db2fdc9e602a960f'), ObjectId('663e2380db2fdc9e602a9610'), ObjectId('663e2380db2fdc9e602a9611'), ObjectId('663e2380db2fdc9e602a9612'), ObjectId('663e2380db2fdc9e602a9613'), ObjectId('663e2380db2fdc9e602a9614'), ObjectId('663e2380db2fdc9e602a9615'), ObjectId('663e2380db2fdc9e602a9616'), ObjectId('663e2380db2fdc9e602a9617'), ObjectId('663e2380db2fdc9e602a9618'), ObjectId('663e2380db2fdc9e602a9619'), ObjectId('663e2380db2fdc9e602a961a'), ObjectId('663e2380db2fdc9e602a961b'), ObjectId('663e2380db2fdc9e602a961c'), ObjectId('663e2380db2fdc9e602a961d'), ObjectId('663e2380db2fdc9e602a961e'), ObjectId('663e2380db2fdc9e602a961f'), ObjectId('663e2380db2fdc9e602a9620'), ObjectId('663e2380db2fdc9e602a9621'), ObjectId('663e2380db2fdc9e602a9622'), ObjectId('663e2380db2fdc9e602a9623'), ObjectId('663e2380db2fdc9e602a9624'), ObjectId('663e2380db2fdc9e602a9625'), ObjectId('663e2380db2fdc9e602a9626'), ObjectId('663e2380db2fdc9e602a9627'), ObjectId('663e2380db2fdc9e602a9628'), ObjectId('663e2380db2fdc9e602a9629'), ObjectId('663e2380db2fdc9e602a962a'), ObjectId('663e2380db2fdc9e602a962b'), ObjectId('663e2380db2fdc9e602a962c'), ObjectId('663e2380db2fdc9e602a962d'), ObjectId('663e2380db2fdc9e602a962e'), ObjectId('663e2380db2fdc9e602a962f'), ObjectId('663e2380db2fdc9e602a9630'), ObjectId('663e2380db2fdc9e602a9631'), ObjectId('663e2380db2fdc9e602a9632'), ObjectId('663e2380db2fdc9e602a9633'), ObjectId('663e2380db2fdc9e602a9634'), ObjectId('663e2380db2fdc9e602a9635'), ObjectId('663e2380db2fdc9e602a9636'), ObjectId('663e2380db2fdc9e602a9637'), ObjectId('663e2380db2fdc9e602a9638'), ObjectId('663e2380db2fdc9e602a9639'), ObjectId('663e2380db2fdc9e602a963a'), ObjectId('663e2380db2fdc9e602a963b'), ObjectId('663e2380db2fdc9e602a963c'), ObjectId('663e2380db2fdc9e602a963d'), ObjectId('663e2380db2fdc9e602a963e'), ObjectId('663e2380db2fdc9e602a963f'), ObjectId('663e2380db2fdc9e602a9640'), ObjectId('663e2380db2fdc9e602a9641'), ObjectId('663e2380db2fdc9e602a9642'), ObjectId('663e2380db2fdc9e602a9643'), ObjectId('663e2380db2fdc9e602a9644'), ObjectId('663e2380db2fdc9e602a9645'), ObjectId('663e2380db2fdc9e602a9646'), ObjectId('663e2380db2fdc9e602a9647'), ObjectId('663e2380db2fdc9e602a9648'), ObjectId('663e2380db2fdc9e602a9649'), ObjectId('663e2380db2fdc9e602a964a'), ObjectId('663e2380db2fdc9e602a964b'), ObjectId('663e2380db2fdc9e602a964c'), ObjectId('663e2380db2fdc9e602a964d'), ObjectId('663e2380db2fdc9e602a964e'), ObjectId('663e2380db2fdc9e602a964f'), ObjectId('663e2380db2fdc9e602a9650'), ObjectId('663e2380db2fdc9e602a9651'), ObjectId('663e2380db2fdc9e602a9652'), ObjectId('663e2380db2fdc9e602a9653'), ObjectId('663e2380db2fdc9e602a9654'), ObjectId('663e2380db2fdc9e602a9655'), ObjectId('663e2380db2fdc9e602a9656'), ObjectId('663e2380db2fdc9e602a9657'), ObjectId('663e2380db2fdc9e602a9658'), ObjectId('663e2380db2fdc9e602a9659'), ObjectId('663e2380db2fdc9e602a965a'), ObjectId('663e2380db2fdc9e602a965b'), ObjectId('663e2380db2fdc9e602a965c'), ObjectId('663e2380db2fdc9e602a965d'), ObjectId('663e2380db2fdc9e602a965e'), ObjectId('663e2380db2fdc9e602a965f'), ObjectId('663e2380db2fdc9e602a9660'), ObjectId('663e2380db2fdc9e602a9661'), ObjectId('663e2380db2fdc9e602a9662'), ObjectId('663e2380db2fdc9e602a9663'), ObjectId('663e2380db2fdc9e602a9664'), ObjectId('663e2380db2fdc9e602a9665'), ObjectId('663e2380db2fdc9e602a9666'), ObjectId('663e2380db2fdc9e602a9667'), ObjectId('663e2380db2fdc9e602a9668'), ObjectId('663e2380db2fdc9e602a9669'), ObjectId('663e2380db2fdc9e602a966a'), ObjectId('663e2380db2fdc9e602a966b'), ObjectId('663e2380db2fdc9e602a966c'), ObjectId('663e2380db2fdc9e602a966d'), ObjectId('663e2380db2fdc9e602a966e'), ObjectId('663e2380db2fdc9e602a966f'), ObjectId('663e2380db2fdc9e602a9670'), ObjectId('663e2380db2fdc9e602a9671'), ObjectId('663e2380db2fdc9e602a9672'), ObjectId('663e2380db2fdc9e602a9673'), ObjectId('663e2380db2fdc9e602a9674'), ObjectId('663e2380db2fdc9e602a9675'), ObjectId('663e2380db2fdc9e602a9676'), ObjectId('663e2380db2fdc9e602a9677'), ObjectId('663e2380db2fdc9e602a9678'), ObjectId('663e2380db2fdc9e602a9679'), ObjectId('663e2380db2fdc9e602a967a'), ObjectId('663e2380db2fdc9e602a967b'), ObjectId('663e2380db2fdc9e602a967c'), ObjectId('663e2380db2fdc9e602a967d'), ObjectId('663e2380db2fdc9e602a967e'), ObjectId('663e2380db2fdc9e602a967f'), ObjectId('663e2380db2fdc9e602a9680'), ObjectId('663e2380db2fdc9e602a9681'), ObjectId('663e2380db2fdc9e602a9682'), ObjectId('663e2380db2fdc9e602a9683'), ObjectId('663e2380db2fdc9e602a9684'), ObjectId('663e2380db2fdc9e602a9685'), ObjectId('663e2380db2fdc9e602a9686'), ObjectId('663e2380db2fdc9e602a9687'), ObjectId('663e2380db2fdc9e602a9688'), ObjectId('663e2380db2fdc9e602a9689'), ObjectId('663e2380db2fdc9e602a968a'), ObjectId('663e2380db2fdc9e602a968b'), ObjectId('663e2380db2fdc9e602a968c'), ObjectId('663e2380db2fdc9e602a968d'), ObjectId('663e2380db2fdc9e602a968e'), ObjectId('663e2380db2fdc9e602a968f'), ObjectId('663e2380db2fdc9e602a9690'), ObjectId('663e2380db2fdc9e602a9691'), ObjectId('663e2380db2fdc9e602a9692'), ObjectId('663e2380db2fdc9e602a9693'), ObjectId('663e2380db2fdc9e602a9694'), ObjectId('663e2380db2fdc9e602a9695'), ObjectId('663e2380db2fdc9e602a9696'), ObjectId('663e2380db2fdc9e602a9697'), ObjectId('663e2380db2fdc9e602a9698'), ObjectId('663e2380db2fdc9e602a9699'), ObjectId('663e2380db2fdc9e602a969a'), ObjectId('663e2380db2fdc9e602a969b'), ObjectId('663e2380db2fdc9e602a969c'), ObjectId('663e2380db2fdc9e602a969d'), ObjectId('663e2380db2fdc9e602a969e'), ObjectId('663e2380db2fdc9e602a969f'), ObjectId('663e2380db2fdc9e602a96a0'), ObjectId('663e2380db2fdc9e602a96a1'), ObjectId('663e2380db2fdc9e602a96a2'), ObjectId('663e2380db2fdc9e602a96a3'), ObjectId('663e2380db2fdc9e602a96a4'), ObjectId('663e2380db2fdc9e602a96