### jupyter notebook to adjust the data from onet to the Swiss labour market

author: Jan Jörg
date: 14.03.2024

###### onet soc to soc crosswalk: https://www.onetcenter.org/crosswalks.html
###### soc to isco08 crosswalk: https://www.bls.gov/soc/ISCO_SOC_Crosswalk.xls
###### ch isco 19: https://www.i14y.admin.ch/en/catalog/datasets/HCL_CH_ISCO_19_PROF_1_2/distributions

In [279]:
# imports
import pandas as pd
from db import get_database

In [280]:
onet_file =  "files/ONETSOC_SOC.xlsx"
sheet =  "ONETSOC_SOC"

onetsoc_soc = pd.read_excel(io=onet_file, sheet_name=sheet , skiprows=3, dtype=str)

# rename cols
onetsoc_soc = onetsoc_soc.rename(columns={'O*NET-SOC 2019 Code': 'onetsoc19'})
onetsoc_soc = onetsoc_soc.rename(columns={'2018 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['O*NET-SOC 2019 Title', '2018 SOC Title']

# Drop specified columns
onetsoc_soc = onetsoc_soc.drop(columns=cols_to_drop)
onetsoc_soc = onetsoc_soc.dropna()
print(onetsoc_soc.shape[0])

onetsoc_soc.head(2)

1016

    onetsoc19  2010soc
0  11-1011.00  11-1011
1  11-1011.03  11-1011

In [281]:
file_name =  "files/ISCO_SOC.xls"
sheet =  "ISCO_SOC"

isco_soc = pd.read_excel(io=file_name, sheet_name=sheet , skiprows=6, dtype=str)

# rename cols
isco_soc = isco_soc.rename(columns={'ISCO-08 Code': 'isco08'})
isco_soc = isco_soc.rename(columns={'2010 SOC Code': '2010soc'})

# List of columns to drop
cols_to_drop = ['ISCO-08 Title EN', 'part', '2010 SOC Title', "Comment 8/17/11"]

# Drop specified columns
isco_soc = isco_soc.drop(columns=cols_to_drop)
isco_soc = isco_soc.dropna()
print(isco_soc.shape[0])

isco_soc.head(2)

1125

  isco08   2010soc
0   0110  55-1011
1   0110  55-1012

In [282]:
file_name =  "files/CH_ISCO_19.xlsx"
sheet =  "CH_ISCO_19"

ch_isco = pd.read_excel(io=file_name, sheet_name=sheet, skiprows=0, dtype=str)

# rename cols
ch_isco = ch_isco.rename(columns={'Berufsgattungen': 'isco08'})

# List of columns to drop
cols_to_drop = ['Berufsgruppen', 'Berufsuntergruppen', "Berufsarten", "Code"]

# Drop specified columns
ch_isco = ch_isco.drop(columns=cols_to_drop)
ch_isco = ch_isco.dropna()
print(ch_isco.shape[0])

ch_isco.head(2)

582

  isco08                                    Name_de
3   0110       Offiziere in regulären Streitkräften
7   0210  Unteroffiziere in regulären Streitkräften

In [283]:
dbname = get_database()

collection_name = dbname["onet"]

data = collection_name.find()
onet = pd.DataFrame(list(data))
onet.head(2)

,_id,code,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [284]:
# import Source Frey / Osborne

fo =  pd.read_csv("files/FO.csv")

In [285]:
# Convert 'code' column to string
onet['code'] = onet['code'].astype(str)
fo["code"] = fo["code"].astype(str)

# Rename 'code' column to 'onetsoc19'
onet = onet.rename(columns={'code': 'onetsoc19'})
fo = fo.rename(columns={'code': '2010soc'})

print(onet.shape[0])

1016

In [286]:
onet.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_activities,detailed_work_activities,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.A.4.a.4', 'related': 'h...","{'activity': [{'id': '4.A.4.a.8.I01.D04', 'rel...","{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....
1,6620df94dde8b852bac8e7dd,13-2011.00,long,"{'code': '13-2011.00', 'title': 'Accountants a...","{'task': [{'id': 21505, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.c', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.A.1.a.1', 'related': 'h...","{'activity': [{'id': '4.A.3.b.6.I01.D02', 'rel...","{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...",NaN,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aacsb.edu/', ..."

In [287]:
fo.head(2)

,Rank,Probability,Label,2010soc,Occupation
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...

In [288]:
# crosswalk onet soc

joined = pd.merge(onet, onetsoc_soc, left_on='onetsoc19', right_on="onetsoc19", how='left')

joined = joined.dropna()

# print amount of cols
print(joined.shape[0])

851

In [289]:
# crosswalk soc

joined = pd.merge(joined, isco_soc, left_on='2010soc', right_on="2010soc", how='left')
fo_joined = pd.merge(fo, isco_soc, left_on='2010soc', right_on="2010soc", how='left')

# print amount of cols
print(joined.shape[0])

1065

In [290]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612

In [291]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127

In [292]:
# crosswalk isco08

joined = pd.merge(joined, ch_isco, left_on='isco08', right_on="isco08", how='left')
fo_joined = pd.merge(fo_joined, ch_isco, left_on='isco08', right_on="isco08", how='left')

# print amount of cols
print(joined.shape[0])
print(fo_joined.shape[0])

1065
803

In [293]:
joined.head(2)

,_id,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,6620df94dde8b852bac8e7de,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,6620df94dde8b852bac8e7e4,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [294]:
fo_joined.head(2)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
0,1.0,0.0028,na,29-1125,Recreational TherapistsRecreational Therapists,NaN,NaN
1,2.0,0.0030,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"

In [295]:
joined = joined.dropna()
joined = joined.drop(columns=["_id"])
fo_joined = fo_joined.dropna()
print(joined.shape[0])
joined.head(2)

846

,onetsoc19,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,...,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,2010soc,isco08,Name_de
0,27-2011.00,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...",...,"{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,27-2011,2655,Schauspieler
1,23-1021.00,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...",...,"{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,23-1021,2612,Richter

In [296]:
fo_joined.head(5)

,Rank,Probability,Label,2010soc,Occupation,isco08,Name_de
1,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7127,"Klima-, Kälte, und Lüftungsanlagenbauer"
2,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7231,Kraftfahrzeugmechaniker und -schlosser
3,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7232,Flugmotorenmechaniker und -schlosser
4,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7233,Landmaschinen- und Industriemaschinenmechanike...
5,2.0,0.003,na,49-1011,First-Line Supervisors of MechanicsFirst-Line ...,7234,Fahrradmechaniker und verwandte Berufe

In [297]:
joined = joined.drop(columns=["onetsoc19","2010soc"])
fo_joined = fo_joined.drop(columns=["2010soc","Occupation","Name_de","Rank"])
fo_joined = fo_joined.rename(columns={'Label': 'fo_computerisation',"Probability":"fo_probability"})

In [298]:
fo_joined.head(2)

   fo_probability fo_computerisation isco08
1           0.003                 na   7127
2           0.003                 na   7231

In [299]:
joined.head(5)

,display,occupation,tasks,technology_skills,tools_used,tools_technology,knowledge,skills,abilities,work_activities,...,work_context,job_zone,education,interests,work_styles,work_values,related_occupations,additional_information,isco08,Name_de
0,long,"{'code': '27-2011.00', 'title': 'Actors', 'tag...","{'task': [{'id': 7646, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.7.c', 'related': 'htt...","{'element': [{'id': '2.A.1.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.4.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.b.1.e', 'related': ...","{'value': 2, 'title': 'Job Zone Two: Some Prep...",{'level_required': {'category': [{'name': 'Les...,"{'element': [{'id': '1.B.1.c', 'related': 'htt...","{'element': [{'id': '1.C.3.a', 'related': 'htt...","{'element': [{'id': '1.B.2.d', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actorsequity....,2655,Schauspieler
1,long,"{'code': '23-1021.00', 'title': 'Administrativ...","{'task': [{'id': 7627, 'green': False, 'relate...",{'category': [{'related': 'https://services.on...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.8.b', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.b.5', 'related': 'h...","{'element': [{'id': '4.A.2.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.2.a.1.a', 'related': ...","{'value': 5, 'title': 'Job Zone Five: Extensiv...",{'level_required': {'category': [{'name': 'Doc...,"{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.5.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.americanbar.o...,2612,Richter
2,long,"{'code': '17-3021.00', 'title': 'Aerospace Eng...","{'task': [{'id': 10888, 'green': False, 'relat...",{'see_all': {'href': 'https://services.onetcen...,{'see_all': {'href': 'https://services.onetcen...,{'tools': {'see_all': {'href': 'https://servic...,"{'element': [{'id': '2.C.3.e', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.a.1', 'related': 'h...","{'element': [{'id': '4.A.1.a.1', 'related': 'h...",...,"{'element': [{'id': '4.C.3.b.4', 'related': 'h...","{'value': 3, 'title': 'Job Zone Three: Medium ...",{'level_required': {'category': [{'name': 'Pos...,"{'element': [{'id': '1.B.1.a', 'related': 'htt...","{'element': [{'id': '1.C.5.b', 'related': 'htt...","{'element': [{'id': '1.B.2.e', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,"{'source': [{'url': 'https://www.aiaa.org/', '...",3115,"Maschinenbautechniker, Techniker im Bereich Sy..."
3,long,"{'code': '15-2011.00', 'title': 'Actuaries', '...","{'task': [{'id': 3500, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.4.a', 'related': 'htt...","{'element': [{'id': '2.A.2.a', 'related': 'htt...","{'element': [{'id': '1.A.1.c.1', 'related': 'h...","{'element': [{'id': '4.A.2.a.4', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.f', 'related': 'htt...","{'element': [{'id': '1.C.7.b', 'related': 'htt...","{'element': [{'id': '1.B.2.b', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.actuary.org/'...,2120,"Mathematiker, Aktuare und Statistiker"
4,long,"{'code': '11-2011.00', 'title': 'Advertising a...","{'task': [{'id': 3224, 'green': False, 'relate...",{'see_all': {'href': 'https://services.onetcen...,{'category': [{'related': 'https://services.on...,{'tools': {'category': [{'related': 'https://s...,"{'element': [{'id': '2.C.1.d', 'related': 'htt...","{'element': [{'id': '2.A.1.b', 'related': 'htt...","{'element': [{'id': '1.A.1.a.3', 'related': 'h...","{'element': [{'id': '4.A.3.b.1', 'related': 'h...",...,"{'element': [{'id': '4.C.1.a.2.h', 'related': ...","{'value': 4, 'title': 'Job Zone Four: Consider...","{'level_required': {'category': [{'name': ""Bac...","{'element': [{'id': '1.B.1.e', 'related': 'htt...","{'element': [{'id': '1.C.1.c', 'related': 'htt...","{'element': [{'id': '1.B.2.a', 'related': 'htt...",{'occupation': [{'href': 'https://services.one...,{'source': [{'url': 'https://www.adcouncil.org...,1222,Führungskräfte in Werbung und Öffentlichkeitsa...

In [300]:
#dbname = get_database()

collection_name = dbname["joined"]
fo_col = dbname["fo_joined"]

# Insert the dictionaries into the MongoDB collection
collection_name.insert_many(joined.to_dict("records"))
fo_col.insert_many(fo_joined.to_dict("records"))

InsertManyResult([ObjectId('663e1dd1db2fdc9e602a8ea3'), ObjectId('663e1dd1db2fdc9e602a8ea4'), ObjectId('663e1dd1db2fdc9e602a8ea5'), ObjectId('663e1dd1db2fdc9e602a8ea6'), ObjectId('663e1dd1db2fdc9e602a8ea7'), ObjectId('663e1dd1db2fdc9e602a8ea8'), ObjectId('663e1dd1db2fdc9e602a8ea9'), ObjectId('663e1dd1db2fdc9e602a8eaa'), ObjectId('663e1dd1db2fdc9e602a8eab'), ObjectId('663e1dd1db2fdc9e602a8eac'), ObjectId('663e1dd1db2fdc9e602a8ead'), ObjectId('663e1dd1db2fdc9e602a8eae'), ObjectId('663e1dd1db2fdc9e602a8eaf'), ObjectId('663e1dd1db2fdc9e602a8eb0'), ObjectId('663e1dd1db2fdc9e602a8eb1'), ObjectId('663e1dd1db2fdc9e602a8eb2'), ObjectId('663e1dd1db2fdc9e602a8eb3'), ObjectId('663e1dd1db2fdc9e602a8eb4'), ObjectId('663e1dd1db2fdc9e602a8eb5'), ObjectId('663e1dd1db2fdc9e602a8eb6'), ObjectId('663e1dd1db2fdc9e602a8eb7'), ObjectId('663e1dd1db2fdc9e602a8eb8'), ObjectId('663e1dd1db2fdc9e602a8eb9'), ObjectId('663e1dd1db2fdc9e602a8eba'), ObjectId('663e1dd1db2fdc9e602a8ebb'), ObjectId('663e1dd1db2fdc9e602a8ebc'), ObjectId('663e1dd1db2fdc9e602a8ebd'), ObjectId('663e1dd1db2fdc9e602a8ebe'), ObjectId('663e1dd1db2fdc9e602a8ebf'), ObjectId('663e1dd1db2fdc9e602a8ec0'), ObjectId('663e1dd1db2fdc9e602a8ec1'), ObjectId('663e1dd1db2fdc9e602a8ec2'), ObjectId('663e1dd1db2fdc9e602a8ec3'), ObjectId('663e1dd1db2fdc9e602a8ec4'), ObjectId('663e1dd1db2fdc9e602a8ec5'), ObjectId('663e1dd1db2fdc9e602a8ec6'), ObjectId('663e1dd1db2fdc9e602a8ec7'), ObjectId('663e1dd1db2fdc9e602a8ec8'), ObjectId('663e1dd1db2fdc9e602a8ec9'), ObjectId('663e1dd1db2fdc9e602a8eca'), ObjectId('663e1dd1db2fdc9e602a8ecb'), ObjectId('663e1dd1db2fdc9e602a8ecc'), ObjectId('663e1dd1db2fdc9e602a8ecd'), ObjectId('663e1dd1db2fdc9e602a8ece'), ObjectId('663e1dd1db2fdc9e602a8ecf'), ObjectId('663e1dd1db2fdc9e602a8ed0'), ObjectId('663e1dd1db2fdc9e602a8ed1'), ObjectId('663e1dd1db2fdc9e602a8ed2'), ObjectId('663e1dd1db2fdc9e602a8ed3'), ObjectId('663e1dd1db2fdc9e602a8ed4'), ObjectId('663e1dd1db2fdc9e602a8ed5'), ObjectId('663e1dd1db2fdc9e602a8ed6'), ObjectId('663e1dd1db2fdc9e602a8ed7'), ObjectId('663e1dd1db2fdc9e602a8ed8'), ObjectId('663e1dd1db2fdc9e602a8ed9'), ObjectId('663e1dd1db2fdc9e602a8eda'), ObjectId('663e1dd1db2fdc9e602a8edb'), ObjectId('663e1dd1db2fdc9e602a8edc'), ObjectId('663e1dd1db2fdc9e602a8edd'), ObjectId('663e1dd1db2fdc9e602a8ede'), ObjectId('663e1dd1db2fdc9e602a8edf'), ObjectId('663e1dd1db2fdc9e602a8ee0'), ObjectId('663e1dd1db2fdc9e602a8ee1'), ObjectId('663e1dd1db2fdc9e602a8ee2'), ObjectId('663e1dd1db2fdc9e602a8ee3'), ObjectId('663e1dd1db2fdc9e602a8ee4'), ObjectId('663e1dd1db2fdc9e602a8ee5'), ObjectId('663e1dd1db2fdc9e602a8ee6'), ObjectId('663e1dd1db2fdc9e602a8ee7'), ObjectId('663e1dd1db2fdc9e602a8ee8'), ObjectId('663e1dd1db2fdc9e602a8ee9'), ObjectId('663e1dd1db2fdc9e602a8eea'), ObjectId('663e1dd1db2fdc9e602a8eeb'), ObjectId('663e1dd1db2fdc9e602a8eec'), ObjectId('663e1dd1db2fdc9e602a8eed'), ObjectId('663e1dd1db2fdc9e602a8eee'), ObjectId('663e1dd1db2fdc9e602a8eef'), ObjectId('663e1dd1db2fdc9e602a8ef0'), ObjectId('663e1dd1db2fdc9e602a8ef1'), ObjectId('663e1dd1db2fdc9e602a8ef2'), ObjectId('663e1dd1db2fdc9e602a8ef3'), ObjectId('663e1dd1db2fdc9e602a8ef4'), ObjectId('663e1dd1db2fdc9e602a8ef5'), ObjectId('663e1dd1db2fdc9e602a8ef6'), ObjectId('663e1dd1db2fdc9e602a8ef7'), ObjectId('663e1dd1db2fdc9e602a8ef8'), ObjectId('663e1dd1db2fdc9e602a8ef9'), ObjectId('663e1dd1db2fdc9e602a8efa'), ObjectId('663e1dd1db2fdc9e602a8efb'), ObjectId('663e1dd1db2fdc9e602a8efc'), ObjectId('663e1dd1db2fdc9e602a8efd'), ObjectId('663e1dd1db2fdc9e602a8efe'), ObjectId('663e1dd1db2fdc9e602a8eff'), ObjectId('663e1dd1db2fdc9e602a8f00'), ObjectId('663e1dd1db2fdc9e602a8f01'), ObjectId('663e1dd1db2fdc9e602a8f02'), ObjectId('663e1dd1db2fdc9e602a8f03'), ObjectId('663e1dd1db2fdc9e602a8f04'), ObjectId('663e1dd1db2fdc9e602a8f05'), ObjectId('663e1dd1db2fdc9e602a8f06'), ObjectId('663e1dd1db2fdc9e602a8f07'), ObjectId('663e1dd1db2fdc9e602a8f08'), ObjectId('663e1dd1db2fdc9e602a8f09'), ObjectId('663e1dd1db2fdc9e602a8f0a'), ObjectId('663e1dd1db2fdc9e602a8f0b'), ObjectId('663e1dd1db2fdc9e602a8f0c'), ObjectId('663e1dd1db2fdc9e602a8f0d'), ObjectId('663e1dd1db2fdc9e602a8f0e'), ObjectId('663e1dd1db2fdc9e602a8f0f'), ObjectId('663e1dd1db2fdc9e602a8f10'), ObjectId('663e1dd1db2fdc9e602a8f11'), ObjectId('663e1dd1db2fdc9e602a8f12'), ObjectId('663e1dd1db2fdc9e602a8f13'), ObjectId('663e1dd1db2fdc9e602a8f14'), ObjectId('663e1dd1db2fdc9e602a8f15'), ObjectId('663e1dd1db2fdc9e602a8f16'), ObjectId('663e1dd1db2fdc9e602a8f17'), ObjectId('663e1dd1db2fdc9e602a8f18'), ObjectId('663e1dd1db2fdc9e602a8f19'), ObjectId('663e1dd1db2fdc9e602a8f1a'), ObjectId('663e1dd1db2fdc9e602a8f1b'), ObjectId('663e1dd1db2fdc9e602a8f1c'), ObjectId('663e1dd1db2fdc9e602a8f1d'), ObjectId('663e1dd1db2fdc9e602a8f1e'), ObjectId('663e1dd1db2fdc9e602a8f1f'), ObjectId('663e1dd1db2fdc9e602a8f20'), ObjectId('663e1dd1db2fdc9e602a8f21'), ObjectId('663e1dd1db2fdc9e602a8f22'), ObjectId('663e1dd1db2fdc9e602a8f23'), ObjectId('663e1dd1db2fdc9e602a8f24'), ObjectId('663e1dd1db2fdc9e602a8f25'), ObjectId('663e1dd1db2fdc9e602a8f26'), ObjectId('663e1dd1db2fdc9e602a8f27'), ObjectId('663e1dd1db2fdc9e602a8f28'), ObjectId('663e1dd1db2fdc9e602a8f29'), ObjectId('663e1dd1db2fdc9e602a8f2a'), ObjectId('663e1dd1db2fdc9e602a8f2b'), ObjectId('663e1dd1db2fdc9e602a8f2c'), ObjectId('663e1dd1db2fdc9e602a8f2d'), ObjectId('663e1dd1db2fdc9e602a8f2e'), ObjectId('663e1dd1db2fdc9e602a8f2f'), ObjectId('663e1dd1db2fdc9e602a8f30'), ObjectId('663e1dd1db2fdc9e602a8f31'), ObjectId('663e1dd1db2fdc9e602a8f32'), ObjectId('663e1dd1db2fdc9e602a8f33'), ObjectId('663e1dd1db2fdc9e602a8f34'), ObjectId('663e1dd1db2fdc9e602a8f35'), ObjectId('663e1dd1db2fdc9e602a8f36'), ObjectId('663e1dd1db2fdc9e602a8f37'), ObjectId('663e1dd1db2fdc9e602a8f38'), ObjectId('663e1dd1db2fdc9e602a8f39'), ObjectId('663e1dd1db2fdc9e602a8f3a'), ObjectId('663e1dd1db2fdc9e602a8f3b'), ObjectId('663e1dd1db2fdc9e602a8f3c'), ObjectId('663e1dd1db2fdc9e602a8f3d'), ObjectId('663e1dd1db2fdc9e602a8f3e'), ObjectId('663e1dd1db2fdc9e602a8f3f'), ObjectId('663e1dd1db2fdc9e602a8f40'), ObjectId('663e1dd1db2fdc9e602a8f41'), ObjectId('663e1dd1db2fdc9e602a8f42'), ObjectId('663e1dd1db2fdc9e602a8f43'), ObjectId('663e1dd1db2fdc9e602a8f44'), ObjectId('663e1dd1db2fdc9e602a8f45'), ObjectId('663e1dd1db2fdc9e602a8f46'), ObjectId('663e1dd1db2fdc9e602a8f47'), ObjectId('663e1dd1db2fdc9e602a8f48'), ObjectId('663e1dd1db2fdc9e602a8f49'), ObjectId('663e1dd1db2fdc9e602a8f4a'), ObjectId('663e1dd1db2fdc9e602a8f4b'), ObjectId('663e1dd1db2fdc9e602a8f4c'), ObjectId('663e1dd1db2fdc9e602a8f4d'), ObjectId('663e1dd1db2fdc9e602a8f4e'), ObjectId('663e1dd1db2fdc9e602a8f4f'), ObjectId('663e1dd1db2fdc9e602a8f50'), ObjectId('663e1dd1db2fdc9e602a8f51'), ObjectId('663e1dd1db2fdc9e602a8f52'), ObjectId('663e1dd1db2fdc9e602a8f53'), ObjectId('663e1dd1db2fdc9e602a8f54'), ObjectId('663e1dd1db2fdc9e602a8f55'), ObjectId('663e1dd1db2fdc9e602a8f56'), ObjectId('663e1dd1db2fdc9e602a8f57'), ObjectId('663e1dd1db2fdc9e602a8f58'), ObjectId('663e1dd1db2fdc9e602a8f59'), ObjectId('663e1dd1db2fdc9e602a8f5a'), ObjectId('663e1dd1db2fdc9e602a8f5b'), ObjectId('663e1dd1db2fdc9e602a8f5c'), ObjectId('663e1dd1db2fdc9e602a8f5d'), ObjectId('663e1dd1db2fdc9e602a8f5e'), ObjectId('663e1dd1db2fdc9e602a8f5f'), ObjectId('663e1dd1db2fdc9e602a8f60'), ObjectId('663e1dd1db2fdc9e602a8f61'), ObjectId('663e1dd1db2fdc9e602a8f62'), ObjectId('663e1dd1db2fdc9e602a8f63'), ObjectId('663e1dd1db2fdc9e602a8f64'), ObjectId('663e1dd1db2fdc9e602a8f65'), ObjectId('663e1dd1db2fdc9e602a8f66'), ObjectId('663e1dd1db2fdc9e602a8f67'), ObjectId('663e1dd1db2fdc9e602a8f68'), ObjectId('663e1dd1db2fdc9e602a8f69'), ObjectId('663e1dd1db2fdc9e602a8f6a'), ObjectId('663e1dd1db2fdc9e602a8f6b'), ObjectId('663e1dd1db2fdc9e602a8f6c'), ObjectId('663e1dd1db2fdc9e602a8f6d'), ObjectId('663e1dd1db2fdc9e602a8f6e'), ObjectId('663e1dd1db2fdc9e602a8f6f'), ObjectId('663e1dd1db2fdc9e602a8f70'), ObjectId('663e1dd1db2fdc9e602a8f71'), ObjectId('663e1dd1db2fdc9e602a8f72'), ObjectId('663e1dd1db2fdc9e602a8f73'), ObjectId('663e1dd1db2fdc9e602a8f74'), ObjectId('663e1dd1db2fdc9e602a8f75'), ObjectId('663e1dd1db2fdc9e602a8f76'), ObjectId('663e1dd1db2fdc9e602a8f77'), ObjectId('663e1dd1db2fdc9e602a8f78'), ObjectId('663e1dd1db2fdc9e602a8f79'), ObjectId('663e1dd1db2fdc9e602a8f7a'), ObjectId('663e1dd1db2fdc9e602a8f7b'), ObjectId('663e1dd1db2fdc9e602a8f7c'), ObjectId('663e1dd1db2fdc9e602a8f7d'), ObjectId('663e1dd1db2fdc9e602a8f7e'), ObjectId('663e1dd1db2fdc9e602a8f7f'), ObjectId('663e1dd1db2fdc9e602a8f80'), ObjectId('663e1dd1db2fdc9e602a8f81'), ObjectId('663e1dd1db2fdc9e602a8f82'), ObjectId('663e1dd1db2fdc9e602a8f83'), ObjectId('663e1dd1db2fdc9e602a8f84'), ObjectId('663e1dd1db2fdc9e602a8f85'), ObjectId('663e1dd1db2fdc9e602a8f86'), ObjectId('663e1dd1db2fdc9e602a8f87'), ObjectId('663e1dd1db2fdc9e602a8f88'), ObjectId('663e1dd1db2fdc9e602a8f89'), ObjectId('663e1dd1db2fdc9e602a8f8a'), ObjectId('663e1dd1db2fdc9e602a8f8b'), ObjectId('663e1dd1db2fdc9e602a8f8c'), ObjectId('663e1dd1db2fdc9e602a8f8d'), ObjectId('663e1dd1db2fdc9e602a8f8e'), ObjectId('663e1dd1db2fdc9e602a8f8f'), ObjectId('663e1dd1db2fdc9e602a8f90'), ObjectId('663e1dd1db2fdc9e602a8f91'), ObjectId('663e1dd1db2fdc9e602a8f92'), ObjectId('663e1dd1db2fdc9e602a8f93'), ObjectId('663e1dd1db2fdc9e602a8f94'), ObjectId('663e1dd1db2fdc9e602a8f95'), ObjectId('663e1dd1db2fdc9e602a8f96'), ObjectId('663e1dd1db2fdc9e602a8f97'), ObjectId('663e1dd1db2fdc9e602a8f98'), ObjectId('663e1dd1db2fdc9e602a8f99'), ObjectId('663e1dd1db2fdc9e602a8f9a'), ObjectId('663e1dd1db2fdc9e602a8f9b'), ObjectId('663e1dd1db2fdc9e602a8f9c'), ObjectId('663e1dd1db2fdc9e602a8f9d'), ObjectId('663e1dd1db2fdc9e602a8f9e'), ObjectId('663e1dd1db2fdc9e602a8f9f'), ObjectId('663e1dd1db2fdc9e602a8fa0'), ObjectId('663e1dd1db2fdc9e602a8fa1'), ObjectId('663e1dd1db2fdc9e602a8fa2'), ObjectId('663e1dd1db2fdc9e602a8fa3'), ObjectId('663e1dd1db2fdc9e602a8fa4'), ObjectId('663e1dd1db2fdc9e602a8fa5'), ObjectId('663e1dd1db2fdc9e602a8fa6'), ObjectId('663e1dd1db2fdc9e602a8fa7'), ObjectId('663e1dd1db2fdc9e602a8fa8'), ObjectId('663e1dd1db2fdc9e602a8fa9'), ObjectId('663e1dd1db2fdc9e602a8faa'), ObjectId('663e1dd1db2fdc9e602a8fab'), ObjectId('663e1dd1db2fdc9e602a8fac'), ObjectId('663e1dd1db2fdc9e602a8fad'), ObjectId('663e1dd1db2fdc9e602a8fae'), ObjectId('663e1dd1db2fdc9e602a8faf'), ObjectId('663e1dd1db2fdc9e602a8fb0'), ObjectId('663e1dd1db2fdc9e602a8fb1'), ObjectId('663e1dd1db2fdc9e602a8fb2'), ObjectId('663e1dd1db2fdc9e602a8fb3'), ObjectId('663e1dd1db2fdc9e602a8fb4'), ObjectId('663e1dd1db2fdc9e602a8fb5'), ObjectId('663e1dd1db2fdc9e602a8fb6'), ObjectId('663e1dd1db2fdc9e602a8fb7'), ObjectId('663e1dd1db2fdc9e602a8fb8'), ObjectId('663e1dd1db2fdc9e602a8fb9'), ObjectId('663e1dd1db2fdc9e602a8fba'), ObjectId('663e1dd1db2fdc9e602a8fbb'), ObjectId('663e1dd1db2fdc9e602a8fbc'), ObjectId('663e1dd1db2fdc9e602a8fbd'), ObjectId('663e1dd1db2fdc9e602a8fbe'), ObjectId('663e1dd1db2fdc9e602a8fbf'), ObjectId('663e1dd1db2fdc9e602a8fc0'), ObjectId('663e1dd1db2fdc9e602a8fc1'), ObjectId('663e1dd1db2fdc9e602a8fc2'), ObjectId('663e1dd1db2fdc9e602a8fc3'), ObjectId('663e1dd1db2fdc9e602a8fc4'), ObjectId('663e1dd1db2fdc9e602a8fc5'), ObjectId('663e1dd1db2fdc9e602a8fc6'), ObjectId('663e1dd1db2fdc9e602a8fc7'), ObjectId('663e1dd1db2fdc9e602a8fc8'), ObjectId('663e1dd1db2fdc9e602a8fc9'), ObjectId('663e1dd1db2fdc9e602a8fca'), ObjectId('663e1dd1db2fdc9e602a8fcb'), ObjectId('663e1dd1db2fdc9e602a8fcc'), ObjectId('663e1dd1db2fdc9e602a8fcd'), ObjectId('663e1dd1db2fdc9e602a8fce'), ObjectId('663e1dd1db2fdc9e602a8fcf'), ObjectId('663e1dd1db2fdc9e602a8fd0'), ObjectId('663e1dd1db2fdc9e602a8fd1'), ObjectId('663e1dd1db2fdc9e602a8fd2'), ObjectId('663e1dd1db2fdc9e602a8fd3'), ObjectId('663e1dd1db2fdc9e602a8fd4'), ObjectId('663e1dd1db2fdc9e602a8fd5'), ObjectId('663e1dd1db2fdc9e602a8fd6'), ObjectId('663e1dd1db2fdc9e602a8fd7'), ObjectId('663e1dd1db2fdc9e602a8fd8'), ObjectId('663e1dd1db2fdc9e602a8fd9'), ObjectId('663e1dd1db2fdc9e602a8fda'), ObjectId('663e1dd1db2fdc9e602a8fdb'), ObjectId('663e1dd1db2fdc9e602a8fdc'), ObjectId('663e1dd1db2fdc9e602a8fdd'), ObjectId('663e1dd1db2fdc9e602a8fde'), ObjectId('663e1dd1db2fdc9e602a8fdf'), ObjectId('663e1dd1db2fdc9e602a8fe0'), ObjectId('663e1dd1db2fdc9e602a8fe1'), ObjectId('663e1dd1db2fdc9e602a8fe2'), ObjectId('663e1dd1db2fdc9e602a8fe3'), ObjectId('663e1dd1db2fdc9e602a8fe4'), ObjectId('663e1dd1db2fdc9e602a8fe5'), ObjectId('663e1dd1db2fdc9e602a8fe6'), ObjectId('663e1dd1db2fdc9e602a8fe7'), ObjectId('663e1dd1db2fdc9e602a8fe8'), ObjectId('663e1dd1db2fdc9e602a8fe9'), ObjectId('663e1dd1db2fdc9e602a8fea'), ObjectId('663e1dd1db2fdc9e602a8feb'), ObjectId('663e1dd1db2fdc9e602a8fec'), ObjectId('663e1dd1db2fdc9e602a8fed'), ObjectId('663e1dd1db2fdc9e602a8fee'), ObjectId('663e1dd1db2fdc9e602a8fef'), ObjectId('663e1dd1db2fdc9e602a8ff0'), ObjectId('663e1dd1db2fdc9e602a8ff1'), ObjectId('663e1dd1db2fdc9e602a8ff2'), ObjectId('663e1dd1db2fdc9e602a8ff3'), ObjectId('663e1dd1db2fdc9e602a8ff4'), ObjectId('663e1dd1db2fdc9e602a8ff5'), ObjectId('663e1dd1db2fdc9e602a8ff6'), ObjectId('663e1dd1db2fdc9e602a8ff7'), ObjectId('663e1dd1db2fdc9e602a8ff8'), ObjectId('663e1dd1db2fdc9e602a8ff9'), ObjectId('663e1dd1db2fdc9e602a8ffa'), ObjectId('663e1dd1db2fdc9e602a8ffb'), ObjectId('663e1dd1db2fdc9e602a8ffc'), ObjectId('663e1dd1db2fdc9e602a8ffd'), ObjectId('663e1dd1db2fdc9e602a8ffe'), ObjectId('663e1dd1db2fdc9e602a8fff'), ObjectId('663e1dd1db2fdc9e602a9000'), ObjectId('663e1dd1db2fdc9e602a9001'), ObjectId('663e1dd1db2fdc9e602a9002'), ObjectId('663e1dd1db2fdc9e602a9003'), ObjectId('663e1dd1db2fdc9e602a9004'), ObjectId('663e1dd1db2fdc9e602a9005'), ObjectId('663e1dd1db2fdc9e602a9006'), ObjectId('663e1dd1db2fdc9e602a9007'), ObjectId('663e1dd1db2fdc9e602a9008'), ObjectId('663e1dd1db2fdc9e602a9009'), ObjectId('663e1dd1db2fdc9e602a900a'), ObjectId('663e1dd1db2fdc9e602a900b'), ObjectId('663e1dd1db2fdc9e602a900c'), ObjectId('663e1dd1db2fdc9e602a900d'), ObjectId('663e1dd1db2fdc9e602a900e'), ObjectId('663e1dd1db2fdc9e602a900f'), ObjectId('663e1dd1db2fdc9e602a9010'), ObjectId('663e1dd1db2fdc9e602a9011'), ObjectId('663e1dd1db2fdc9e602a9012'), ObjectId('663e1dd1db2fdc9e602a9013'), ObjectId('663e1dd1db2fdc9e602a9014'), ObjectId('663e1dd1db2fdc9e602a9015'), ObjectId('663e1dd1db2fdc9e602a9016'), ObjectId('663e1dd1db2fdc9e602a9017'), ObjectId('663e1dd1db2fdc9e602a9018'), ObjectId('663e1dd1db2fdc9e602a9019'), ObjectId('663e1dd1db2fdc9e602a901a'), ObjectId('663e1dd1db2fdc9e602a901b'), ObjectId('663e1dd1db2fdc9e602a901c'), ObjectId('663e1dd1db2fdc9e602a901d'), ObjectId('663e1dd1db2fdc9e602a901e'), ObjectId('663e1dd1db2fdc9e602a901f'), ObjectId('663e1dd1db2fdc9e602a9020'), ObjectId('663e1dd1db2fdc9e602a9021'), ObjectId('663e1dd1db2fdc9e602a9022'), ObjectId('663e1dd1db2fdc9e602a9023'), ObjectId('663e1dd1db2fdc9e602a9024'), ObjectId('663e1dd1db2fdc9e602a9025'), ObjectId('663e1dd1db2fdc9e602a9026'), ObjectId('663e1dd1db2fdc9e602a9027'), ObjectId('663e1dd1db2fdc9e602a9028'), ObjectId('663e1dd1db2fdc9e602a9029'), ObjectId('663e1dd1db2fdc9e602a902a'), ObjectId('663e1dd1db2fdc9e602a902b'), ObjectId('663e1dd1db2fdc9e602a902c'), ObjectId('663e1dd1db2fdc9e602a902d'), ObjectId('663e1dd1db2fdc9e602a902e'), ObjectId('663e1dd1db2fdc9e602a902f'), ObjectId('663e1dd1db2fdc9e602a9030'), ObjectId('663e1dd1db2fdc9e602a9031'), ObjectId('663e1dd1db2fdc9e602a9032'), ObjectId('663e1dd1db2fdc9e602a9033'), ObjectId('663e1dd1db2fdc9e602a9034'), ObjectId('663e1dd1db2fdc9e602a9035'), ObjectId('663e1dd1db2fdc9e602a9036'), ObjectId('663e1dd1db2fdc9e602a9037'), ObjectId('663e1dd1db2fdc9e602a9038'), ObjectId('663e1dd1db2fdc9e602a9039'), ObjectId('663e1dd1db2fdc9e602a903a'), ObjectId('663e1dd1db2fdc9e602a903b'), ObjectId('663e1dd1db2fdc9e602a903c'), ObjectId('663e1dd1db2fdc9e602a903d'), ObjectId('663e1dd1db2fdc9e602a903e'), ObjectId('663e1dd1db2fdc9e602a903f'), ObjectId('663e1dd1db2fdc9e602a9040'), ObjectId('663e1dd1db2fdc9e602a9041'), ObjectId('663e1dd1db2fdc9e602a9042'), ObjectId('663e1dd1db2fdc9e602a9043'), ObjectId('663e1dd1db2fdc9e602a9044'), ObjectId('663e1dd1db2fdc9e602a9045'), ObjectId('663e1dd1db2fdc9e602a9046'), ObjectId('663e1dd1db2fdc9e602a9047'), ObjectId('663e1dd1db2fdc9e602a9048'), ObjectId('663e1dd1db2fdc9e602a9049'), ObjectId('663e1dd1db2fdc9e602a904a'), ObjectId('663e1dd1db2fdc9e602a904b'), ObjectId('663e1dd1db2fdc9e602a904c'), ObjectId('663e1dd1db2fdc9e602a904d'), ObjectId('663e1dd1db2fdc9e602a904e'), ObjectId('663e1dd1db2fdc9e602a904f'), ObjectId('663e1dd1db2fdc9e602a9050'), ObjectId('663e1dd1db2fdc9e602a9051'), ObjectId('663e1dd1db2fdc9e602a9052'), ObjectId('663e1dd1db2fdc9e602a9053'), ObjectId('663e1dd1db2fdc9e602a9054'), ObjectId('663e1dd1db2fdc9e602a9055'), ObjectId('663e1dd1db2fdc9e602a9056'), ObjectId('663e1dd1db2fdc9e602a9057'), ObjectId('663e1dd1db2fdc9e602a9058'), ObjectId('663e1dd1db2fdc9e602a9059'), ObjectId('663e1dd1db2fdc9e602a905a'), ObjectId('663e1dd1db2fdc9e602a905b'), ObjectId('663e1dd1db2fdc9e602a905c'), ObjectId('663e1dd1db2fdc9e602a905d'), ObjectId('663e1dd1db2fdc9e602a905e'), ObjectId('663e1dd1db2fdc9e602a905f'), ObjectId('663e1dd1db2fdc9e602a9060'), ObjectId('663e1dd1db2fdc9e602a9061'), ObjectId('663e1dd1db2fdc9e602a9062'), ObjectId('663e1dd1db2fdc9e602a9063'), ObjectId('663e1dd1db2fdc9e602a9064'), ObjectId('663e1dd1db2fdc9e602a9065'), ObjectId('663e1dd1db2fdc9e602a9066'), ObjectId('663e1dd1db2fdc9e602a9067'), ObjectId('663e1dd1db2fdc9e602a9068'), ObjectId('663e1dd1db2fdc9e602a9069'), ObjectId('663e1dd1db2fdc9e602a906a'), ObjectId('663e1dd1db2fdc9e602a906b'), ObjectId('663e1dd1db2fdc9e602a906c'), ObjectId('663e1dd1db2fdc9e602a906d'), ObjectId('663e1dd1db2fdc9e602a906e'), ObjectId('663e1dd1db2fdc9e602a906f'), ObjectId('663e1dd1db2fdc9e602a9070'), ObjectId('663e1dd1db2fdc9e602a9071'), ObjectId('663e1dd1db2fdc9e602a9072'), ObjectId('663e1dd1db2fdc9e602a9073'), ObjectId('663e1dd1db2fdc9e602a9074'), ObjectId('663e1dd1db2fdc9e602a9075'), ObjectId('663e1dd1db2fdc9e602a9076'), ObjectId('663e1dd1db2fdc9e602a9077'), ObjectId('663e1dd1db2fdc9e602a9078'), ObjectId('663e1dd1db2fdc9e602a9079'), ObjectId('663e1dd1db2fdc9e602a907a'), ObjectId('663e1dd1db2fdc9e602a907b'), ObjectId('663e1dd1db2fdc9e602a907c'), ObjectId('663e1dd1db2fdc9e602a907d'), ObjectId('663e1dd1db2fdc9e602a907e'), ObjectId('663e1dd1db2fdc9e602a907f'), ObjectId('663e1dd1db2fdc9e602a9080'), ObjectId('663e1dd1db2fdc9e602a9081'), ObjectId('663e1dd1db2fdc9e602a9082'), ObjectId('663e1dd1db2fdc9e602a9083'), ObjectId('663e1dd1db2fdc9e602a9084'), ObjectId('663e1dd1db2fdc9e602a9085'), ObjectId('663e1dd1db2fdc9e602a9086'), ObjectId('663e1dd1db2fdc9e602a9087'), ObjectId('663e1dd1db2fdc9e602a9088'), ObjectId('663e1dd1db2fdc9e602a9089'), ObjectId('663e1dd1db2fdc9e602a908a'), ObjectId('663e1dd1db2fdc9e602a908b'), ObjectId('663e1dd1db2fdc9e602a908c'), ObjectId('663e1dd1db2fdc9e602a908d'), ObjectId('663e1dd1db2fdc9e602a908e'), ObjectId('663e1dd1db2fdc9e602a908f'), ObjectId('663e1dd1db2fdc9e602a9090'), ObjectId('663e1dd1db2fdc9e602a9091'), ObjectId('663e1dd1db2fdc9e602a9092'), ObjectId('663e1dd1db2fdc9e602a9093'), ObjectId('663e1dd1db2fdc9e602a9094'), ObjectId('663e1dd1db2fdc9e602a9095'), ObjectId('663e1dd1db2fdc9e602a9096'), ObjectId('663e1dd1db2fdc9e602a9097'), ObjectId('663e1dd1db2fdc9e602a9098'), ObjectId('663e1dd1db2fdc9e602a9099'), ObjectId('663e1dd1db2fdc9e602a909a'), ObjectId('663e1dd1db2fdc9e602a909b'), ObjectId('663e1dd1db2fdc9e602a909c'), ObjectId('663e1dd1db2fdc9e602a909d'), ObjectId('663e1dd1db2fdc9e602a909e'), ObjectId('663e1dd1db2fdc9e602a909f'), ObjectId('663e1dd1db2fdc9e602a90a0'), ObjectId('663e1dd1db2fdc9e602a90a1'), ObjectId('663e1dd1db2fdc9e602a90a2'), ObjectId('663e1dd1db2fdc9e602a90a3'), ObjectId('663e1dd1db2fdc9e602a90a4'), ObjectId('663e1dd1db2fdc9e602a90a5'), ObjectId('663e1dd1db2fdc9e602a90a6'), ObjectId('663e1dd1db2fdc9e602a90a7'), ObjectId('663e1dd1db2fdc9e602a90a8'), ObjectId('663e1dd1db2fdc9e602a90a9'), ObjectId('663e1dd1db2fdc9e602a90aa'), ObjectId('663e1dd1db2fdc9e602a90ab'), ObjectId('663e1dd1db2fdc9e602a90ac'), ObjectId('663e1dd1db2fdc9e602a90ad'), ObjectId('663e1dd1db2fdc9e602a90ae'), ObjectId('663e1dd1db2fdc9e602a90af'), ObjectId('663e1dd1db2fdc9e602a90